#jobapp-password.block-panel
  .heading
    h3(translate='talent.ui.jobapp.component.password.title')
  .body
    p(translate='talent.ui.jobapp.component.password.hint')
    h4(translate='talent.ui.jobapp.component.password.hint_2')
    .form-group
      easy-input.col-xs-6(type='password', ng-model='password', label='"talent.ui.jobapp.component.password.label" | translate')