.h4.modal-title-header
    h3(translate='talent.ui.jobapp.component.withdraw.title')
.modal-body
    p(translate='talent.ui.jobapp.component.withdraw.description')
    ng-form.form
      .form-group.row
        easy-input(type="textarea" ng-model="jobapp.withdrawn_reason"
          grid="18")
.modal-footer
    .btn-group
        button.btn.btn-default(ng-click="cancel()", translate='talent.ui.jobapp.component.withdraw.cancel')
        button.btn.btn-primary(ng-click="withdrawn()", translate='talent.ui.jobapp.component.withdraw.confirm')

