ul#jobapp-wizard-bar
    li(ng-class='{active: step == 1}')
        .num 1
        .description(translate='talent.ui.jobapp.wizard_bar.create', ng-show='resumesLength == 0')
        .description(translate='talent.ui.jobapp.wizard_bar.select', ng-show='resumesLength > 0')
    li(ng-class='{active: step == 2}')
        .num 2
        .description(translate='talent.ui.jobapp.wizard_bar.add')
    li(ng-class='{active: step == 3}')
        .num 3
        .description(translate='talent.ui.jobapp.wizard_bar.send')
