#jobapp-new-add-cover-letter
  .page-nav
    button.btn-previous(ng-click='goPreviousStep()')
      i.fa.fa-angle-left
      | &nbsp;
      span(translate='talent.ui.new.coverletter.back')
    button.btn-next(ng-click='goNextStep()', ng-disabled='!canGoNextStep()')
      span(translate='talent.ui.new.coverletter.save')
      | &nbsp;
      i.fa.fa-angle-right
  ng-form.form(name='jobappCoverLetterForm')
    .cover-letter.block-panel
      .heading
        h3(translate='talent.ui.new.coverletter.title')
      .body
        .form-group
          easy-input(type="textarea", ng-model="jobapp.coverLetter"
          validator='required', wrapper='none')

    .administration-note.block-panel
      .heading
        h3(translate="talent.ui.new.coverletter.note.title")
      .body
        .form-group
          easy-input(type="textarea", ng-model="jobapp.administration_note", wrapper='none')

    .addtional-information.block-panel
      .heading
        h3(translate="talent.ui.new.coverletter.informations.title")
      .body
        p(ng-bind-html="'talent.ui.new.coverletter.informations.hint' | translate")
        .form-group
          easy-input.col-xs-9(type="ui-select", name='source', ng-model="jobapp.source",
          label="'talent.ui.jobapp.new.coverletter.source' | translate",
          options='jobSourceOptions')

    .blocking-notices.block-panel
      .heading
        h3(translate='talent.ui.new.coverletter.blocking.title')
      .body
        .form-group
          .col-xs-18
            label(translate='talent.ui.jobapp.new.coverletter.blocking.label')
          .col-xs-18
            ul.work-location-intention-list.label-list(ng-show='jobapp.blocked.length > 0')
              li(ng-repeat='blockedCompany in jobapp.blocked')
                .work-location-intention-list-item
                  label
                    span.text(ng-bind='blockedCompany')
                    span.delete(ng-click='removeBlockedCompany(blockedCompany)', translate='talent.ui.jobapp.new.coverletter.blocking.button.delete')
          .col-xs-8
            input.form-control(type='text', ng-model='newBlockedCompany', ng-keyup="$event.keyCode == 13 && newBlockedCompany.length > 0 && addBlockedCompany(newBlockedCompany)",
            placeholder='{{"talent.ui.jobapp.new.coverletter.blocking.placeholder" | translate}}')
            span.help-block
          .col-xs-10
            button.btn.btn-default(ng-click='addBlockedCompany(newBlockedCompany)', ng-disabled='!newBlockedCompany')
              i.fa.fa-plus
              | &nbsp;
              span(translate='talent.ui.jobapp.new.coverletter.blocking.button.add')

  .page-nav
    button.btn-previous(ng-click='goPreviousStep()')
      i.fa.fa-angle-left
      | &nbsp;
      span(translate='talent.ui.new.coverletter.back')
    button.btn-next(ng-click='goNextStep()', ng-disabled='!canGoNextStep()')
      span(translate='talent.ui.new.coverletter.save')
      | &nbsp;
      i.fa.fa-angle-right
