#jobapp-new-check-and-send
  #email-confirmation-warning.alert.alert-warning(ng-hide='talent.confirmed')
    h2(translate='talent.ui.jobapp.new.check.email.unconfirmed')
    p(translate='talent.ui.jobapp.new.check.email.check')
    button.btn.btn-default(ng-click='resendConfirmationEmail()', translate='talent.ui.jobapp.new.check.button.resend')
    button.btn.btn-default(ng-click='checkEmailConfirmation()', translate='talent.ui.jobapp.new.check.button.recheck')
    p
      span(translate='talent.ui.jobapp.new.check.email.show', translate-values='{email: talentAuth.email}')
      a(href='', ng-click='emailChangeMode = true', translate='talent.ui.jobapp.new.check.email.change')
    div(ng-show='emailChangeMode == true')
      easy-input-field(type='text', ng-model='talent.email', grid='6')
      button.btn.btn-default(ng-click='updateEmail()', translate='talent.ui.jobapp.new.check.button.update')
  .ready-to-send.block-panel
    .heading
      h3(translate='talent.ui.jobapp.new.check.ready_to_send.title', translate-values='{company: jobapp.job.companyName}')
    .body
      p(translate='talent.ui.jobapp.new.check.ready_to_send.description', translate-values='{company: jobapp.job.companyName}')
  .company-contact-detail.block-panel
    .heading
      h3(translate='talent.ui.jobapp.new.check.company_details.title')
    .body
      .checkbox.term
        label
          input(type='checkbox', ng-model='generalTerm')
          span(translate='talent.ui.jobapp.new.check.company_details.agreement', translate-values='{company: jobapp.job.companyName}')
          | &nbsp;
          a(href='', translate='talent.ui.jobapp.new.check.company_details.tac')
      .checkbox.term
        label
          input(type='checkbox', ng-model='policyTerm')
          span(translate='talent.ui.jobapp.new.check.company_details.i_agree')
      p(ng-show='job.recruiterName', translate='talent.ui.jobapp.new.check.company_details.name', translate-values='{name: jobapp.job.recruiterName}')
      p(ng-show='job.recruiterPhone', translate='talent.ui.jobapp.new.check.company_details.number', translate-values='{phone: jobapp.job.recruiterPhone}')
      p(ng-show='recruiterEmail', translate='talent.ui.jobapp.new.check.company_details.email', translate-values='{email: jobapp.job.recruiterEmail}')
      br
      p(ng-show="jobType=='refApplication'", translate='talent.ui.jobapp.new.check.company_details.agreement_company', translate-values='{company: jobapp.companyName}')
      p(ng-show="jobType=='emailApplication' && jobapp.job && jobapp.job.jobname && jobapp.job.companyName", translate='talent.ui.jobapp.new.check.company_details.agreement_company', translate-values='{company: jobapp.job.companyName}')
      p(translate='talent.ui.jobapp.new.check.company_details.company_details.dummy')
  .page-nav
    button.btn-previous(ng-click='goPreviousStep()')
      i.fa.fa-angle-left
      | &nbsp;
      span(translate='talent.ui.jobapp.new.check.back')
    button.btn-next(ng-click='onSend()', ng-disabled='!canSend()')
      span(translate='talent.ui.jobapp.new.check.send')
      | &nbsp;
      i.fa.fa-angle-right
