#jobapp-new-resume-detail
  .page-nav
    button.btn-previous(ng-click='goPreviousStep()', ng-show='isShowBackLink()')
      i.fa.fa-angle-left
      | &nbsp;
      span(translate='talent.ui.jobapp.new.detail.change_resume')
    button.btn-next(ng-click='goNextStep()')
      span(translate='talent.ui.jobapp.new.detail.save')
      | &nbsp;
      i.fa.fa-angle-right

  resume-detail-nav
  resume-header
  #resume-language(resume-language, ng-if='modules.language')
  #resume-import(resume-import, ng-if='modules.import')
  #resume-profile(resume-profile, ng-if='modules.profile')
  #account-availability(account-availability, ng-if='modules.generalInformation')
  #resume-work-experiences(resume-work-experiences, ng-if='modules.workExperience')
  #resume-educations(resume-education, ng-if='modules.education')
  #resume-languages(resume-languages, ng-if='modules.languages')
  #resume-skills(resume-skills, ng-if='modules.skills')
  #resume-links(resume-links, ng-if='modules.links')
  #resume-additional-documents(resume-additional-documents, ng-if='modules.documents')
  #resume-add-module(resume-add-module, ng-if='modules.addModule')
  #jobapp-password(jobapp-password, ng-if='modules.password')
  .page-nav
    button.btn-previous(ng-click='goPreviousStep()', ng-show='isShowBackLink()')
      i.fa.fa-angle-left
      | &nbsp;
      span(translate='talent.ui.jobapp.new.detail.change_resume')
    button.btn-next(ng-click='goNextStep()')
      span(translate='talent.ui.jobapp.new.detail.save')
      | &nbsp;
      i.fa.fa-angle-right
