#jobapp-new-select-resume
  .company-detail-form(ng-show="isShowJobDetailForm()")
    h2(translate='talent.ui.jobapp.new.select.apply')
    .block-panel
      .heading
        h3(translate='talent.ui.jobapp.new.select.company_details')
      .body
        ng-form.form.form-vertical(name="companyDetailForm")
          .form-group
            easy-input.col-xs-9(type="text", name='companyName', ng-model="job.companyName",
            label="'talent.ui.jobapp.new.select.company_name' | translate",
            validator='required')
            easy-input.col-xs-9(type="text", name='jobname', ng-model="job.jobname",
            label="'talent.ui.jobapp.new.select.job_name' | translate",
            validator='required')
          .form-group
            easy-input.col-xs-9(type="ui-select", name='source', ng-model="jobapp.source",
            label="'talent.ui.jobapp.new.select.source' | translate",
            options='jobSourceOptions', validator='required')
            easy-input.col-xs-9(type="text", name='recruiterEmail', ng-model="job.recruiterEmail",
            label="'talent.ui.jobapp.new.select.contact_email' | translate",
            validator='required, email')

  .block-panel
    .heading
      h3(translate='talent.ui.jobapp.new.select.select', ng-show='resumes.length > 0')
      h3(translate='talent.ui.jobapp.new.select.create', ng-show='resumes.length == 0')
    .body
      .resume-grid
        .item(ng-repeat='resume in resumes')
          .well(ng-click='selectResume(resume)', ng-class='{active: isSelected(resume)}')
            img(ng-src='{{resume.imageSnapshotUrl}}')
            h4.name(ng-bind='resume.name')
            p(translate='talent.ui.jobapp.new.select.last_update')
            p {{resume.updatedAt | date: 'dd.MM.yyyy HH:mm'}}

        .item(ng-show='canAddNewResume()')
          .well.new-resume(ng-click='selectResume(newResume)', ng-class='{active: isSelected(newResume)}')
            h4(translate='talent.ui.jobapp.new.select.create')
  .page-nav
    button.btn-next(easy-submit='companyDetailForm', ng-click='goNextStep()', ng-disabled='!canGoNextStep()', ng-show='isShowJobDetailForm()')
      span(translate='talent.ui.jobapp.new.select.continue')
      | &nbsp;
      i.fa.fa-angle-right
    button.btn-next( ng-click='goNextStep()', ng-disabled='!canGoNextStep()', ng-hide='isShowJobDetailForm()')
      span(translate='talent.ui.jobapp.new.select.continue')
      | &nbsp;
      i.fa.fa-angle-right
