<!--<ul ng-if="groups.length > 1" class="nav nav-tabs nav-justified">-->
<!--<li ng-repeat="group in groups" ng-class="{active:activeGroup==group}">-->
<!--<a href='#' ng-click="selectGroup($event, group)">{{group}}</a>-->
<!--</li>-->
<!--</ul>-->
<div class='form-horizontal'>
    <!--<div class='fb-component' ng-repeat="component in components" cf-component="component"></div>-->
    <div class="form-group" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" ng-model="list1" jqyoui-draggable="{animate:true}" >

        <easy-input ng-model="company.code" easy-input-type="string"
                    label="'string' | translate" placeholder="'string' | translate"
                    easy-input-wrapper="col-4-8"></easy-input>

        <div class="overlay" style=""></div>
    </div>
    <div class="form-group" data-drag="true" >

        <easy-input ng-model="company.number" easy-input-type="text"
                    label="'text' | translate" placeholder="'text' | translate"
                    easy-input-wrapper="col-4-8"></easy-input>
    </div>
</div>