ul#jobapp-wizard-bar
  margin-top: 28px
  padding-left: 0
  list-style: none
  +make-row

  li
    +make-xs-column(4)
    text-align: center
    color: $inactive-color

    &:first-child 
      text-align: left

    &:last-child 
      text-align: right

    .num 
      font-size: 24px
      font-weight: bolder
      border-bottom: 6px solid $inactive-color

    .description 
      padding-top: 5px
      font-size: 18px

    &.active 
      color: $primary-color

      .num 
        border-color: $primary-color
