.modal-header
  h4.modal-title(translate='talent.ui.account.modal.delete.title')
.modal-body
  p(translate='talent.ui.account.modal.delete.description')
  ng-form.form
    .form-group.row
      easy-input(type="text", ng-model="talentAuth.email", label="'talent.ui.account.modal.delete.email' | translate",  grid="10")
    .form-group.row
      easy-input(type="text", ng-model="talentAuth.password", label="'talent.ui.account.modal.delete.password' | translate", grid="10")
.modal-footer
  .btn-group
    button.btn.btn-default(ng-click="cancel()", translate='talent.ui.account.modal.delete.button.cancel')
    button.btn.btn-primary(ng-click="delete()", translate='talent.ui.account.modal.delete.button.submit')
