.modal-header
  p(translate='talent.ui.account.modal.update.title')
.modal-footer
  .btn-group
    button.btn.btn-default(ng-click="cancel()", translate='talent.ui.account.modal.update.button.cancel')
    button.btn.btn-primary(ng-click="update()", translate='talent.ui.account.modal.update.button.submit')
