#jobapp.new.add-cover-letter
  .resume-component.cover-letter
    .heading 
      h3(ng-bind-html="'talent.mobile.jobapps.new.add_cover_letter.cover_letter.title' | translate ")
    .body
      easy-input(type="textarea" ng-model="jobapp.coverLetter"
      validator='required')

  .resume-component.administration-note
    .heading 
      h3(ng-bind-html="'talent.mobile.jobapps.new.add_cover_letter.administration_note.title' | translate ")
    .body
      easy-input(type="textarea" ng-model="jobapp.administration_note"
      validator='required')

  .navigation-buttons
    .button.previous(ng-click='goPreviousStep()', ng-bind-html="'talent.mobile.jobapps.new.add_cover_letter.button.previous' | translate ")
    .button.continue(ng-click='goNextStep()', ng-bind-html="'talent.mobile.jobapps.new.add_cover_letter.button.continue' | translate ")