#jobapp.new.check-and-send
  .unconfirmed-email(ng-hide='talent.confirmed')
    h2(ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.title' | translate ")
    .description(ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.description' | translate")
    .buttons
      .button.resend(ng-click='resendConfirmationEmail()', ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.button.resend' | translate ")
      .button.check(ng-click='checkEmailConfirmation()', ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.button.check_again' | translate ")
    .change-email
      .info(ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.change_email.info' | translate: '{ email: talentAuth.email }'")
      .button.change-email(ng-show='emailChangeMode == false', ng-click='emailChangeMode = true', ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.change_email.button.change' | translate ")
      .changing-form(ng-show='emailChangeMode == true')
        easy-input(type='text', ng-model='talent.email')
        .buttons
          .part-one
            .button.cancel(ng-click='emailChangeMode = false', ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.change_email.button.cancel' | translate ")
          .part-two
            .button.update(ng-click='updateEmail()', ng-bind-html="'talent.page.jobapps.new.check_and_send.unconfirmed_email.change_email.button.update' | translate ")

  .ready-to-send
    h2(ng-bind-html="'talent.page.jobapps.new.check_and_send.ready_to_send.title' | translate ")
    .description(ng-bind-html="'talent.page.jobapps.new.check_and_send.ready_to_send.description' | translate ")
  
  .company-details
    h2(ng-bind-html="'talent.page.jobapps.new.check_and_send.company_details.title' | translate ")
    .contact-details
      span.name(ng-bind-html="'talent.page.jobapps.new.check_and_send.company_details.name' | translate: '{ name: jobapp.job.recruiterName }' ")
      span.phone(ng-bind-html="'talent.page.jobapps.new.check_and_send.company_details.phone' | translate: '{ phone: jobapp.job.recruiterPhone }' ")
      span.email(ng-bind-html="'talent.page.jobapps.new.check_and_send.company_details.email' | translate: '{ email: jobapp.job.recruiterEmail }' ")
  
  .conditions
    .company(ng-bind-html="'talent.page.jobapps.new.check_and_send.conditions.company' | translate: '{ company_name: jobapp.companyName }' ")
    .sharing(ng-bind-html="'talent.page.jobapps.new.check_and_send.conditions.sharing' | translate ")

  .coverletter
    h2(ng-bind-html="'talent.page.jobapps.new.check_and_send.coverletter' | translate ")
    .content {{jobapp.coverLetter}}

  .navigation-buttons
    .button.previous(ng-click='goPreviousStep()', ng-bind-html="'talent.page.jobapps.new.check_and_send.button.previous' | translate ")
    .button.send(ng-click='sendApplication()', ng-disabled='!talent.confirmed', ng-bind-html="'talent.page.jobapps.new.check_and_send.button.send' | translate ")