#jobapp.new.finished
  .notification
    h2(ng-bind-html="'talent.page.jobapps.new.finished.notification.title' | translate ")
    .description(ng-bind-html="'talent.page.jobapps.new.finished.notification.description' | translate ")
  .next-steps
    h3(ng-bind-html="'talent.page.jobapps.new.finished.nex_steps.title' | translate ")
    .description(ng-bind-html="'talent.page.jobapps.new.finished.nex_steps.description' | translate ")

  .navigation-buttons
    .button.continue(ng-click='goToDesktop()', ng-bind-html="'talent.page.jobapps.new.finished.button.go_to_desktop' | translate ")