#jobapp.new.resume-detail
  .new-resume(ng-show='isNewResume(resume)')
    h3(ng-bind-html="'talent.mobile.jobapps.new.detail.new_resume.title' | translate") 
    .description(ng-bind-html="'talent.mobile.jobapps.new.detail.new_resume.description' | translate")
    .note(ng-bind-html="'talent.mobile.jobapps.new.detail.new_resume.note' | translate")
  .persisted-resume(ng-hide='isNewResume(resume)')
    //- TODO

  resume-language
  resume-profile(mobile='true')
  resume-work-experiences(mobile='true')
  //- resume-education
  resume-languages(mobile='true')
  //- resume-skills
  //- resume-links
  //- resume-additional-documents
  //- resume-add-module

  .navigation-buttons
    .button.previous(ng-click='goPreviousStep()', ng-bind-html="'talent.mobile.jobapps.new.detail.button.previous' | translate")
    .button.continue(ng-click='goNextStep()', ng-bind-html="'talent.mobile.jobapps.new.detail.button.continue' | translate")