#jobapp.new.select-resume
  h2(ng-bind-html="'talent.mobile.jobapps.new.select.title' | translate ") 
  .resume(ng-repeat='resume in resumes', ng-click='selectResume(resume)', ng-class='{active: isSelected(resume)}')
    img.preview(ng-src='{{resume.imageSnapshotUrl}}')
    h3(ng-bind-html="resume.name ")
    .description(ng-bind-html="'talent.mobile.jobapps.new.select.last_update' | translate ")
    span.date(ng-bind-html="resume.updatedAt | datetimeDefault ")

  .navigation-buttons
    .button.add-new(ng-show='canAddNewResume()', ng-click='selectResume(newResume)', ng-class='{active: isSelected(newResume)}', ng-bind-html="'talent.mobile.jobapps.new.select.button.create_new' | translate ")

    .button.continue(ng-click='goNextStep()', ng-disabled='!canGoNextStep()', ng-bind-html="'talent.mobile.jobapps.new.select.button.continue' | translate ")
.clearfix