#resume-updates-deactivate-modal
  .modal-header
    button.close
      span x
    h4.modal-title(translate='talent.ui.resume.modal.confirm.title')
  .modal-body
    p(translate='talent.ui.resume.modal.confirm.text')
  .modal-footer
    button.btn.btn-default(ng-click='cancel()', translate='talent.ui.resume.modal.confirm.button.cancel')
    button.btn.btn-primary(ng-click='confirm()', translate='talent.ui.resume.modal.confirm.button.submit')
