h2 Custom Field
.panel.panel-default
    .panel-heading
        h4 easy-form-field
    .panel-body
        form.form
            p text
            div(easy-form-field='', type='text', ng-model='model1')
            p area
            div(easy-form-field='', type='text', ng-model='model1')
.panel.panel-default
    .panel-heading
        h4 easy-input
    .panel-body

.panel.panel-default
    .panel-heading
        h4 easy-form
    .panel-body

.panel.panel-default
    .panel-heading
        h4 easy-button
    .panel-body