#jobapp {
  &.detail {
    .jobapp-detail{
      margin-bottom: 40px;

      .job-detail {
        @include make-xs-column(10);

        h2.job {
          font-size: 24px;
          font-family: $font-family-serif;
          margin: 0 0 10px;
        }

        h3.company {
          font-size: 18px;
          margin: 0 0 10px;

          span.withdrawn {
            color: $veeta-font-color-danger;
            margin-left: 20px;
          }
        }
      }

      .actions {
        @include make-xs-column(8);

        text-align: right;

        a {
          color: $veeta-font-color;
          text-decoration: underline;
        }
      }
    }

    .company-detail {
      @extend .media;

      margin-bottom: 20px;

      > img {
        @extend .media-object;
        @extend .pull-left;

        width: 150px;
        height: 150px;
        margin-right: 50px;

      }

      .body {
        @extend .media-body;

        font-size: 14px;

        > h4 {
          margin-top: 0;
          font-size: 18px;
        }

        .status-info {
          padding: 20px;
          margin-top: 10px;
          background: $bg-gray;
          p {
            margin-bottom: 5px;

            .status {
              @extend .text-primary;
              font-weight: bold;
              margin-left: 10px;
            }
          }
        }
      }
    }

    .resume-detail {
      >.body {
        @extend .media;

        > img{
          @extend .pull-left;
          @extend .media-object;

          width: 150px;
          height: auto;

          margin-right: 50px;
        }

        >.body {
          @extend .media-body;

          padding-top: 8px;

          .info {
            h3{
              font-size: 20px;
            }
            p {
              margin-bottom: 5px;
            }
            a {
              color: $veeta-font-color;
              text-decoration: underline;
            }
          }

          .sharings {

            >p {
              height: 30px;
              line-height: 30px;
            }

            ul.sharings-list {
              list-style: none;
              margin-left: 0;
              padding-left: 0;

              > li {
                margin-right: 10px;
                float: left;

                > img{
                  max-height: 35px;
                  max-width: 100px;
                }
              }
            }
          }
        }
      }
    }

    .cover-letter{

    }

    .additional-information{
    }
  }
}