#jobapp {
  &.new {

    .page-nav {
      text-align: right;

      .btn-previous {
        @extend .btn;
        @extend .btn-lg;
        @extend .btn-link;

        margin-right: 20px;
        height: 40px;
        padding: 10px 25px;
        color: $veeta-font-color
      }

      .btn-next {
        @extend .btn;
        @extend .btn-lg;
        @extend .btn-primary;

        height: 40px;
        padding: 10px 25px;

        &[disabled] {
          background: $bg-dark;
          border-color: $bg-dark;
        }
      }
    }


    .job-info {
//      margin-top: 30px;
      height: 45px;
      margin-bottom: 80px;

      .logo {
        @extend .pull-left;

        max-height: 45px;
        max-width: 180px;
      }
      .description {
        @extend .pull-right;

        text-align: right;

        p {
          margin-top: 5px;
          margin-bottom: 0;
          font-size: 20px;
          font-family: $font-family-sans-serif;
        }

        h4 {
          font-family: $font-family-serif;
          font-weight: 700;
          font-size: 20px;
          margin-top: 5px;
        }
      }
    }

    > .select-resume {

    }
  }
}