#jobapp-new-select-resume {
  > h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .block-panel{
    .body{
      padding-bottom: 0px;
    }
  }

  .resume-grid {
    @include make-row();

    > .item {
      @include make-xs-column(6);

      .well {
        cursor: pointer;
        padding: 30px;
        min-height: 320px;
        background: $bg-light;

        &.active {
          -moz-box-shadow: 0 0 2px 2px $veeta-green;
          -webkit-box-shadow: 0 0 2px 2px $veeta-green;
          box-shadow: 0 0 2px 2px $veeta-green;
        }

        &.new-resume {
          text-align: center;
          padding-top: 200px;
          background: $bg-light url('../images/new-resume-icon.png') no-repeat;
          background-position: center 80px;
        }

        > h4.name {
          width: 168px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        > img {
          @extend .media-object;
          width: 100%;
        }

        > h4 {
          font-weight: bold;
          font-size: 18px;
          margin-bottom: 20px;
        }

        > p {
          font-size: 12px;
          margin-bottom: 0px;
        }

      }
    }
  }
}