#jobapp {
  &.overview {
    .overview-nav {
      button {
        width: 180px;
        height: 50px;
        background-color: white;
        border: 1px solid $border-light;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    ul.jobapps-list {
      &.withdrawn {
        p.title {
          color: #870D13;
        }
      }

      .media-object {
        width: 150px;
        height: 150px;
      }

      .media-body {
        height: 150px;
        position: relative;

        p {
          font-size: 14px;

          &.title {
            font-weight: 700;
          }
        }

        .btn-view {
          margin-top: 20px;
        }
      }
    }
  }
}