ul#jobapp-wizard-bar{
  list-style: none;
  display: table;
  width: 100%;
  padding-left: 0;
  margin-bottom: 40px;

  li {
    display: table-cell;
    width: 33.3%;
    text-align: center;
    padding: 0 5px;
    color: $veeta-gray;

    &:first-child {
      text-align: left;
      padding-left: 0;
    }

    &:last-child {
      text-align: right;
      padding-right: 0;
    }

    .num {
      font-size: 36px;
      font-weight: bolder;
      border-bottom: 7px solid $veeta-gray;
    }

    .description {
      padding-top: 5px;
      font-size: 18px;
    }

    &.active {
      color: $veeta-green;

      .num {
        border-color: $veeta-green;
      }
    }
  }
}