#request-password
  .page-header
    h1(translate='talent.ui.auth.password.title')
    .description(translate='talent.ui.auth.password.description')
  .page-body
    ng-form.sign-in-form(name='requestPasswordForm')
      .col-xs-9
        .form-group
          easy-input(type='email', ng-model='talentAuth.email',
          label="talent.ui.auth.password.label' | translate")
        .form-actions
          button.btn-submit(ng-click='requestPassword()',  translate="talent.ui.auth.password.button.submit")
        .form-group
          a(ui-sref='app.welcome',  translate="talent.ui.auth.password.sign_up")
