#sign-in
  .page-header
    h1(translate='talent.ui.auth.sign_in.title')
    .description(translate='talent.ui.auth.sign_in.description')
  .page-body
    .signin-side
      form.sign-in-form(name='signInForm')
        .form-group
          easy-input(type='email', ng-model='talentAuth.email', name='email',
              label="'talent.ui.auth.sign_in.email' | translate", validator='required, email')
        .form-group
          easy-input(type='password', ng-model='talentAuth.password', name='password',
              label="'talent.ui.auth.sign_in.password' | translate", validator='required')
          a(ui-sref='app.requestPassword', translate="talent.ui.sign_in.request_password_link")
        .form-actions
          button.btn-submit(type='submit', easy-submit='signInForm', ng-click='signIn()', translate="talent.ui.auth.sign_in.button.submit")
        .form-group
          a(ui-sref='app.welcome', translate="talent.ui.auth.sign_in.sign_up")
    .promo-side
       h2(translate="talent.ui.sign_in.promo.title")
       description(translate='talent.ui.sign_in.promo.description')
