#sharing.overview
  .page-panel
    .heading
      h2(translate='talent.ui.sharing.overview.title')
    .body
      p(translate='talent.ui.sharing.overview.description')
      ul.overview-list.media-list
        li.media(ng-repeat='sharing in sharings')
          .media-left
            img(ng-src='{{sharing.company.logoUrl}}')
          .media-body
            .info
              h3.media-heading(ng-bind='sharing.company.name')
              ul.preview-list
                li(ng-repeat='resume in sharing.resumes')
                  img(ng-src='{{resume.imageSnapshotUrl}}')
                  a(href='', ng-click="isCollapsed = !isCollapsed", translate='talent.ui.sharing.overview.details')

            .actions
              p(translate='talent.ui.sharing.overview.actions.title')
              p
                | {{'talent.ui.sharing.overview.actions.read_more' | translate}}
                br
                a(href='', translate='talent.ui.sharing.overview.actions.about_company')
              p
                | {{'talent.ui.sharing.overview.actions.restrict' | translate}}
                | &nbsp;
                a(href='', ng-click='onRevoke(sharing.company)', translate='talent.ui.sharing.overview.actions.access')
