.job
  img.company-logo(ng-src='http://placehold.it/350x62')
  span.prefix {{'talent.mobile.job.your_application_as' | translate}}
  h1 {{'talent.mobile.job.job_at_company' | translate: '{job:job.jobname, company: job.companyName}'}}
  h1 {{'talent.mobile.job.company_is_using_veeta' | translate: '{company: job.companyName}'}}

  .apply(ng-show='job.available')
    .signup
      h3 {{'talent.mobile.signup.create_your_application' | translate}}
      h4 {{'talent.mobile.signup.what_is_veeta' | translate}}
      span.description {{ 'talent.mobile.signup.veeta_description' | translate}}
      a.read-more(href='') {{ 'talent.mobile.signup.read_more' | translate}}
      .form

    .login
      h4
        | {{ 'talent.mobile.login.already_have_an_account' | translate}}
        a.link(ui-sref='app.signIn') {{'talent.mobile.login.path' | translate}}
  .unavailable(ng-show='!job.available')
    .apology {{'talent.mobile.apology' | translate}}
    .know_more
      h3 {{ 'talent.mobile.know_more.title' | translate}}
      span.contact {{ 'talent.mobile.know_more.contact' | translate}}
      span.name(ng-bind='job.recruiter.name')
      span.email(ng-bind='job.recruiter.email')
      span.phone(ng-bind='job.recruiter.phoneNumber')
    .about_veeta
      h3 {{'talent.mobile.about_veeta.title' | translate}}
      span.description {{ 'talent.mobile.about_veeta.description' | translate}}
        a.read-more(href='') {{'talent.mobile.about_veeta.read_more' | translate}}
    .buttons
      a.register(href='') {{'talent.mobile.buttons.register' | translate}}
      a.login(href='')  {{'talent.mobile.buttons.login' | translate}}