#jobapp.new
  .header
    img.company-logo(ng-src='{{ jobapp.job.company.logoUrl }}')
    span.prefix(ng-bind-html="'talent.mobile.jobapps.new.your_application_as' | translate ")
    h1(ng-bind-html="'talent.mobile.jobapps.new.job_at_company' | translate: '{ job: job.jobname, company: job.companyName }' ")

  jobapp-wizard-bar(step='step', ng-if='step', resumes-length='resumes.length')
  ui-view