#footer
  ul
    li {{ 'talent.mobile.layout.footer.change_laguage' | translate }}
    li {{ 'talent.mobile.layout.footer.contact_us' | translate }}
    li {{ 'talent.mobile.layout.footer.about_us' | translate }}
    li {{ 'talent.mobile.layout.footer.terms_and_conditions' | translate }}
