#resume-add-module {
  .module-list {
    @extend .list-group;

    margin-right: -20px;

    li {
      @extend .list-group-item;

      float: left;
      height: 80px;
      width: 125px;
      margin-right: 20px;
      margin-bottom: 20px;
      position: relative;
      background: $bg-gray;

      p {
        text-align: center;
        padding-top: 15px;
      }

      span.add {
        height: 20px;
        width: 20px;
        cursor: pointer;
        background: $veeta-green;
        border: $veeta-green solid 1px;
        position: absolute;
        right: -1px;
        top: -1px;
        font-size: 16px;
        text-align: center;
        color: white;

        &:hover {
          background: white;
          color: $veeta-green;
        }
      }
    }
  }
}