#resume-additional-documents {
  .uploader-btn {
    margin-top: 23px;
    position: relative;

    input[type='file'] {
      cursor: pointer;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;
      /*This makes the button huge. If you want a bigger button, increase the font size*/
      font-size: 50px;
      /*Opacity settings for all browsers*/
      opacity: 0;
      -moz-opacity: 0;
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    }
  }
}