#resume-nav-railway {
  @media screen and (max-width: 1400px) {
    display: none;
  }

  position: absolute;
  right: 0;
  left: -280px;
  width: 280px;
  text-align: right;

  ul#resume-nav {
    list-style: none;
    text-align: right;
    width: 280px;


    &.affix {
      position: fixed;
      top: 50px;
    }

    &.affix-bottom {
      position: absolute;
    }

    li {
      margin-bottom: 10px;
      height: 41px;

      a {
        font-size: 14px;
        color: white;
        padding: 10px 10px 10px 20px;
        background-color: $veeta-green;
        border: $veeta-green solid 1px;
        border-right: none;

        text-decoration: none;
//        float: right;

        margin-bottom: 10px;

        &:hover,
        &:active,
        &.active {
          color: $veeta-green;
          background: white;
        }
      }
    }
  }
}