#resume.detail {
  .resume-shared-companies-well {
    width: auto;
    float: left;

    ul {
      padding-left: 0;
      li {
        img {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  .resume-detail-editable-name {
    margin-bottom: 10px;

    h3 {
      float: left;
      margin-right: 5px;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 34px;
    }

    input.editable-input {
      font-size: 24px;
    }
  }
}