#resume-header,
#resume-header-extend{
 @include make-row();
}

#resume-name {
  @include make-xs-column(9);

  .name {
    margin-bottom: 10px;

    &:before,
    &:after{
      content: ' ';
      display: table;
      clear: both;
    }

    > h4 {
      font-size: 20px;
      font-family: $font-family-sans-serif;
      font-weight: bold;
      max-width: 210px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      float: left;
    }

    .editable-input {
      @extend .input-lg;

      border-radius: 0;
      width: 70%;
    }

    .btn-edit{
      margin-left: 10px;
      vertical-align: top;
      height: 24px;
      margin-top: 5px;
    }

    .editable-buttons{
      button.btn {
        @extend .btn-lg;
        height: 36px;
      }
    }
  }

  .last-update {

  }
}

#resume-actions{
  @include make-xs-column(9);

  text-align: right;

  p {
    margin-bottom: 5px;

    a {
      color: $veeta-font-color;
      text-decoration: underline;
    }

    span{
      margin: 0 5px;
    }
  }
}

#resume-shared-companies{
  @include make-xs-column(18);

  > ul {
    @extend .list-unstyled;

    li {
      float: left;
      margin-right: 10px;

      img {
        max-height: 50px;
        max-width: 50px;
      }
    }
  }
}

#resume-sharing{
  @include make-xs-column(18);

  margin-top: 20px;
  margin-bottom: -20px;

  .form-groups{
    .btn-submit,
    .btn-cancel{
      margin-top: 25px;
      margin-right: 15px;
    }
  }
}

#resume-header {
  #resume-name {
    @include make-xs-column(18);
  }
}

#resume-header-extend {
  #resume-name {
    @include make-xs-column(8);
  }
}

