#resume-import {
  .import-buttons {
    .input-group {
      display: inline;
      margin-right: 29px;
    }

    .btn {
      width: 220px;
      height: 90px;
      margin-right: 29px;
      border: 1px solid #cac9c8;
      background: #fdfdfd no-repeat 20px 20px;
      padding: 15px 10px 10px 80px;
      text-align: left;

      &:last-child {
        margin-right: 0;
      }

      &.btn-pdf {
        background-image: url('../images/pdf-icon.png');
        padding-top: 17px;
      }

      &.btn-linkedin {
        background-image: url('../images/linkedin-icon.png');
      }

      &.btn-xing {
        background-image: url('../images/xing-icon.png');
      }

      h4 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
      }

      p {
        font-size: 12px;
      }
    }
  }
}