#resume-languages {
  .language-list {

    margin-right: -30px;

    display: table;

    .item {
      display: table-cell;
      float: left;
      width: 155px;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;

      .control {
        text-align: right;
        position: absolute;
        right: 0;
        top: -22px;

        button {
          margin-left: 5px;
        }
      }

      .hello {
        background: url('../images/hello-box.png') no-repeat 0;
        background-size: contain;
        height: 70px;
        width: 130px;
        text-align: center;
        padding-top: 20px;
        color: $veeta-gray;
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 10px;
      }

      label {
        margin-bottom: 0;
        display: block;
        font-weight: normal;
      }

      .level {
        .point {
          float: left;
          background: $bg-gray;
          width: 10px;
          height: 10px;
          margin-right: 5px;

          &.active {
            background: $veeta-green;
          }
        }
      }

      .name {
        min-height: 50px;
        padding: 10px;
        background: $bg-gray;
      }
    }
  }
}