#resume {
  &.overview {

    ul.resumes-list {

      img.media-object {
        width: 135px;
        height: 165px;
      }

      .media-body {

        height: 165px;
        position: relative;

        .resume-info {
          height: 105px;

          .resume-title {
            span.deactivated {
              color: $veeta-font-color-danger;
              cursor: help;
            }
          }
          .resume-update-at {
            margin-right: 15px;
          }
        }

        .resume-sharings {

          .resume-sharing-desc {
            height: 30px;
            line-height: 30px;
          }
          ul.resume-sharings-list {
            list-style: none;
            margin-left: 0;
            padding-left: 0;

            li {
              margin-right: 10px;
              float: left;

              img.resume-sharings-thumb-img {
                height: 30px;
                width: 30px;
              }
            }
          }
        }
      }
    }

    #resume-add-new-btn {
      @extend .pull-right;
    }
  }
}