#resume-skills {
  .skill-list {

    margin-right: -30px;

    display: table;

    .item {
      display: table-cell;
      float: left;
      width: 155px;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
      cursor: pointer;

      .control {
        text-align: right;
        position: absolute;
        right: 0;
        top: -22px;

        button {
          margin-left: 5px;
        }
      }

      label {
        margin-bottom: 0;

      }

      .level {
        @extend .progress;

        margin: 0;
        height: 5px;
        box-shadow: none;
        background: none;

        .level-bar {
          @extend .progress-bar;
//          @extend .progress-bar-primary;
        }
      }

      .name {
        height: 35px;
        width: 100%;
        padding: 10px;
        background: $bg-gray;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}