#resume-updates {
  text-align: right;
  margin-bottom: 30px;

  > span {
    margin-right: 15px;
  }

  .update-btn {
  }

  i.help {
    @extend .fa !optional;
    @extend .fa-question-circle !optional;

    color: $veeta-green;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-left: 15px;
    position: relative;
    top: 3px;
  }
}