#mobile.jobs.show
  .company-logo
    // margin-bottom: 40px
    margin-bottom: 20px
    
  .job
    h1
      font-size: 17px
      line-height: 30px
      margin: 0
    h2
      font-size: 14px
      font-weight: normal
      margin: 0
      line-height: 30px

  .signup
    // margin-top: 34px
    margin-top: 17px
    h3
      font-weight: normal
      font-size: 16px
    h4
      font-weight: normal
      font-size: 14px
      margin: 0
    a
      display: block
    .form
      // margin-top: 40px
      margin-top: 20px

  .login
    // margin-top: 45px
    margin-top: 22px
    line-height: 22px
    h4
      font-size: 14px
      font-weight: 400
      margin: 0
      line-height: 22px
    .link
      display: block
      text-decoration: underline

  .btn-create-app
    margin-top: 20px
    font-size: 22px

#jobapp.new.select-resume
  h1
    font-size: 18px
    line-height: 30px
    margin: 0
  h2
    font-size: 18px
    margin: 26px 0 0 0
    border-bottom: solid 2px $primary-color
    padding-bottom: 10px
    font-weight: 400
  .resume
    @extend .well
    margin: 24px 0 8px 0
    img
      @extend .img-responsive
      width: 100%
    &.active
      -moz-box-shadow: 0 0 2px 2px $primary-color
      -webkit-box-shadow: 0 0 2px 2px $primary-color
      box-shadow: 0 0 2px 2px $primary-color
  .button.add-new
    background-color: #CBC9C9

#jobapp.new
  .header
    h1
      color: #4D4C4C
      font-family: "museo"
      font-size: 18px
      line-height: 24px
      margin: 0
    span.prefix
      color: #4D4C4C
      font-size: 16px
      font-weight: 400
      margin: 20px 0 0 0
      line-height: 30px
      display: block
    .company-logo
      @extend .img-responsive
  ul#jobapp-wizard-bar
    li
      .description
        font-size: 14px
      .num
        font-size: 28px
    margin-top: 18px
    margin-bottom: 0
  .resume-component
    h2
      font-size: 16px
      margin: 26px 0 0 0
      line-height: 8px
  .navigation-buttons
    margin-top: 6px
    .button
      @extend .btn
      @extend .btn-block
      margin-top: 14px
      margin-bottom: 14px
      line-height: 30px
      // &:first-child
      //   margin-top: 0
      &:last-child
        margin-bottom: 0
    .button.add-new, .button.previous
      @extend .btn-default
    .button.continue, .button.send
      @extend .btn-primary

#jobapp
  .resume-component
    @extend .panel
    -webkit-box-shadow: none
    box-shadow: none
    .heading
      @extend .panel-heading
      padding: 0
      h3
        font-size: 16px
        border-bottom: solid 2px $primary-color
        line-height: 22px
        padding-bottom: 5px
        font-weight: 400
    .body
      @extend .panel-body
      padding: 0
    // Remove padding for .col-xs-12 which is used by used-input, when col is not specified
    .col-xs-12
      padding: 0 !important
    &.profile
      .body
        +make-row
      .content.default, .content.view
        +make-xs-column(10)
        @extend .col-xs-offset-1
      .content.edit
        +make-xs-column(12)
      .avatar
        @extend .img-responsive
        width: 100%
      .button.reset
        float: left
      .button.replace
        float: right
      .new-line
        +make-row
      .field
        margin: 10px 0 10px 0
      .salutation, .academic-title
        +make-xs-column(6)
      .first-name, .last-name, .address-line, .address-country, .phone-number, .email, .nationality
        +make-xs-column(12)
      .address-zip
        +make-xs-column(4)
      .address-city
        +make-xs-column(8)
      .birthday
        +make-xs-column(10)
      .buttons
        +make-xs-column(12)
        text-align: right
        margin-top: 10px
        margin-bottom: 10px
        .button
          @extend .btn
          +make-xs-column(3)
          display: inline
        .button.cancel
          @extend .col-xs-offset-6
        .button.edit
          @extend .col-xs-offset-9
        .button.cancel, .button.edit
          font-weight: 500
          text-decoration: underline
        .button.save
          @extend .btn-primary
      .avatar-buttons
        .button
          +make-xs-column(5)
        .button.replace
          @extend .col-xs-offset-2

#jobapp.new.check-and-send
  .unconfirmed-email
    +make-row
    @extend .alert
    @extend .alert-warning
  .unconfirmed-email
    .change-email
      margin-top: 20px
      .buttons
        +make-row
        margin-top: 10px
      .part-one, .part-two
        +make-xs-column(6)
    .button
      @extend .btn
      @extend .btn-block
    .button.resend, .button.change-email, .button.cancel
      @extend .btn-default
    .button.check, .button.update
      @extend .btn-primary

#jobapp.new.finished
  h2
    font-size: 18px
    margin-top: 0
    color: #89BB1B
  h3
    font-size: 14px
  .notification
    +make-row
    @extend .alert
    @extend .alert-success
    color: #494949
    background-color: #EFFBD4
    margin-top: 20px