doctype html
html.no-js
  head
    meta(charset='utf-8')
    title Veeta
    meta(name='description', content='')
    meta(name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width")
    base(href='@@BASE_URL')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.) styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='bower_components/angular-xeditable/dist/css/xeditable.css')
    link(rel='stylesheet', href='bower_components/select2/select2.css')
    link(rel='stylesheet', href='bower_components/angular-growl-v2/build/angular-growl.css')
    link(rel='stylesheet', href='bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css')
    link(rel='stylesheet', href='bower_components/angular-ui-select/dist/select.css')
    link(rel='stylesheet', href='bower_components/ng-tags-input/ng-tags-input.min.css')
    link(rel='stylesheet', href='bower_components/font-awesome/css/font-awesome.css')
    // endbower
    link(rel='stylesheet', href='bower_components/pace/themes/pace-theme-flash.css')
    // endbuild
    // build:css(.tmp) styles/mobile.css
    link(rel='stylesheet', href='styles/mobile.css')
    // endbuild
  body(ng-app='veetaTalentApp.mobile')
    div(growl='')
    #app(ui-view='')
    // build:js(.) scripts/oldieshim.js
    // if lt IE 9
       script(src='bower_components/es5-shim/es5-shim.js')
       script(src='bower_components/json3/lib/json3.js')
    // endbuild
    // build:js(.) scripts/mobile-vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/jquery-ui/jquery-ui.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/affix.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/alert.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/button.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/carousel.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/collapse.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/dropdown.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tab.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/transition.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/scrollspy.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/modal.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/tooltip.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap/popover.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-cookies/angular-cookies.js')
    script(src='bower_components/angular-rails-resource/angularjs-rails-resource.js')
    script(src='bower_components/angular-bootstrap/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-xeditable/dist/js/xeditable.js')
    script(src='bower_components/angular-file-upload/angular-file-upload.js')
    script(src='bower_components/select2/select2.js')
    script(src='bower_components/angular-ui-select2/src/select2.js')
    script(src='bower_components/angular-dragdrop/src/angular-dragdrop.js')
    script(src='bower_components/spin.js/spin.js')
    script(src='bower_components/angular-spinner/angular-spinner.js')
    script(src='bower_components/angular-growl-v2/build/angular-growl.js')
    script(src='bower_components/momentjs/moment.js')
    script(src='bower_components/jsnlog/jsnlog.js')
    script(src='bower_components/bootstrap-switch/dist/js/bootstrap-switch.js')
    script(src='bower_components/angular-bootstrap-switch/dist/angular-bootstrap-switch.js')
    script(src='bower_components/angular-touch/angular-touch.js')
    script(src='bower_components/venturocket-angular-slider/build/angular-slider.js')
    script(src='bower_components/checklist-model/checklist-model.js')
    script(src='bower_components/angular-elastic/elastic.js')
    script(src='bower_components/angular-ui-select/dist/select.js')
    script(src='bower_components/textAngular/dist/textAngular.min.js')
    script(src='bower_components/ng-tags-input/ng-tags-input.min.js')
    script(src='bower_components/angular-easy-form/dist/angular-easy-form.min.js')
    script(src='bower_components/angular-ui-utils/ui-utils.js')
    script(src='bower_components/bootstrap-filestyle/src/bootstrap-filestyle.js')
    script(src='bower_components/angular-cookie/angular-cookie.js')
    script(src='bower_components/ng-token-auth/dist/ng-token-auth.js')
    script(src='bower_components/angular-local-storage/dist/angular-local-storage.js')
    script(src='bower_components/angular-filter/dist/angular-filter.js')
    // endbower
    // endbuild
    // build:js({.tmp,app}) scripts/mobile-scripts.js
    script(src='scripts/config.js')
    script(src='scripts/template-cache.js')
    // injector:common:js
    script(src="scripts/lib/angular-rails-resource-extend/module.js")
    script(src="scripts/lib/angular-rails-resource-extend/extensions/array.js")
    script(src="scripts/lib/angular-rails-resource-extend/extensions/attributes_update.js")
    script(src="scripts/lib/angular-rails-resource-extend/extensions/flash.js")
    script(src="scripts/lib/angular-rails-resource-extend/extensions/http_exception.js")
    script(src="scripts/lib/angular-translate/angular-translate.js")
    script(src="scripts/lib/angular-translate/angular-translate-loader-url.js")
    script(src="scripts/common/module.js")
    script(src="scripts/common/config/authentication.js")
    script(src="scripts/common/config/constants.js")
    script(src="scripts/common/config/easy-form.js")
    script(src="scripts/common/config/growl.js")
    script(src="scripts/common/config/localstorage.js")
    script(src="scripts/common/config/resources.js")
    script(src="scripts/common/config/translate.js")
    script(src="scripts/common/config/ui-jq.js")
    script(src="scripts/common/config/ui-router.js")
    script(src="scripts/common/config/xeditable.js")
    script(src="scripts/common/controllers/inside.js")
    script(src="scripts/common/controllers/item-remove-modal.js")
    script(src="scripts/common/directives/flash.js")
    script(src="scripts/common/directives/month-select.js")
    script(src="scripts/common/directives/timeline.js")
    script(src="scripts/common/filters/address.js")
    script(src="scripts/common/filters/datetime.js")
    script(src="scripts/common/filters/name.js")
    script(src="scripts/common/resources/address.js")
    script(src="scripts/common/resources/country.js")
    script(src="scripts/common/resources/language.js")
    script(src="scripts/common/resources/state.js")
    script(src="scripts/common/services/flash.js")
    script(src="scripts/common/services/inflector.js")
    script(src="scripts/common/services/options.js")
    // endinjector
    // injector:mobile:js
    script(src="scripts/domains/mobile/module.js")
    script(src="scripts/domains/mobile/config/constants.js")
    script(src="scripts/domains/mobile/config/states.js")
    script(src="scripts/domains/mobile/controllers/app.js")
    script(src="scripts/domains/mobile/directives/mobile_footer.js")
    script(src="scripts/domains/mobile/directives/mobile_header.js")
    script(src="scripts/components/auth/module.js")
    script(src="scripts/components/auth/config/constants.js")
    script(src="scripts/components/auth/controllers/sign-in.js")
    script(src="scripts/components/jobapp/module.js")
    script(src="scripts/components/jobapp/config/constants.js")
    script(src="scripts/components/jobapp/controllers/detail.js")
    script(src="scripts/components/jobapp/controllers/job.js")
    script(src="scripts/components/jobapp/controllers/new.js")
    script(src="scripts/components/jobapp/controllers/new/add_cover_letter.js")
    script(src="scripts/components/jobapp/controllers/new/check_and_send.js")
    script(src="scripts/components/jobapp/controllers/new/finished.js")
    script(src="scripts/components/jobapp/controllers/new/resume.js")
    script(src="scripts/components/jobapp/controllers/new/resume_detail.js")
    script(src="scripts/components/jobapp/controllers/new/resume_select.js")
    script(src="scripts/components/jobapp/controllers/overview.js")
    script(src="scripts/components/jobapp/controllers/withdraw_confirmation.js")
    script(src="scripts/components/jobapp/directives/job_intro.js")
    script(src="scripts/components/jobapp/directives/password.js")
    script(src="scripts/components/jobapp/directives/wizard_bar.js")
    script(src="scripts/components/jobapp/resources/job.js")
    script(src="scripts/components/jobapp/resources/jobapp.js")
    script(src="scripts/components/account/module.js")
    script(src="scripts/components/account/config/constants.js")
    script(src="scripts/components/account/controllers/detail.js")
    script(src="scripts/components/account/directives/availability.js")
    script(src="scripts/components/account/directives/delete.js")
    script(src="scripts/components/account/directives/profile.js")
    script(src="scripts/components/account/directives/settings.js")
    script(src="scripts/components/account/directives/talent-profile.js")
    script(src="scripts/components/account/resources/talent.js")
    script(src="scripts/components/account/resources/talent_auth.js")
    script(src="scripts/components/account/resources/talent_setting.js")
    script(src="scripts/components/resume/module.js")
    script(src="scripts/components/resume/config/constants.js")
    script(src="scripts/components/resume/controllers/detail.js")
    script(src="scripts/components/resume/controllers/overview.js")
    script(src="scripts/components/resume/controllers/updates_deactivate_modal.js")
    script(src="scripts/components/resume/directives/add_module.js")
    script(src="scripts/components/resume/directives/additional_documents.js")
    script(src="scripts/components/resume/directives/detail_nav.js")
    script(src="scripts/components/resume/directives/education.js")
    script(src="scripts/components/resume/directives/header-extend.js")
    script(src="scripts/components/resume/directives/header.js")
    script(src="scripts/components/resume/directives/import.js")
    script(src="scripts/components/resume/directives/language.js")
    script(src="scripts/components/resume/directives/languages.js")
    script(src="scripts/components/resume/directives/links.js")
    script(src="scripts/components/resume/directives/profile.js")
    script(src="scripts/components/resume/directives/skills.js")
    script(src="scripts/components/resume/directives/updates.js")
    script(src="scripts/components/resume/directives/work_experience.js")
    script(src="scripts/components/resume/resources/document.js")
    script(src="scripts/components/resume/resources/education.js")
    script(src="scripts/components/resume/resources/language.js")
    script(src="scripts/components/resume/resources/links.js")
    script(src="scripts/components/resume/resources/resume.js")
    script(src="scripts/components/resume/resources/sharing.js")
    script(src="scripts/components/resume/resources/skill.js")
    script(src="scripts/components/resume/resources/work_experience.js")
    // endinjector
    // endbuild
