.panel.panel-veeta
  .panel-heading(translate='talent.ui.profile.title')
  .panel-body(ng-switch='' on="onEditMode")
    .animate-switch(ng-switch-when='true')
      profile-edit
    .animate-switch(ng-switch-default='')
      profile-detail