footer#app-footer
  .container
    span(translate='talent.ui.layout.footer.copyright')
    ul#footer-nav
      li
        a(translate='talent.ui.layout.footer.home')
      li
        a(translate='talent.ui.layout.footer.contact')
      li
        a(translate='talent.ui.layout.footer.about')
      li
        a(translate='talent.ui.layout.footer.terms')