header#app-header(ng-class="{'with-login' : isShowLoginForm()}")
  .container
    .logo
    ul.header-nav
      li(ng-if='isShowLoginForm()')
        form.form-login(name='signInTopForm')
          label(translate='talent.ui.layout.header.sign_in.title')
          .form-group
            easy-input(type='email', name='email', ng-model='$parent.talentAuth.email',
            placeholder="'talent.ui.layout.header.sign_in.email' | translate", validator='required')
          .form-group
            easy-input(type='password', name='password', ng-model='$parent.talentAuth.password',
            placeholder="'talent.ui.layout.header.sign_in.password' | translate", validator='required')
            a(ui-sref='app.requestPassword', translate="talent.page.sign_in.request_password_link")
          button.btn-submit(type='submit', ng-click='signIn()', ng-disabled='signInTopForm.$invalid'
          translate='talent.ui.layout.header.sign_in.submit')

      li.dropdown(dropdown="", on-toggle='toggled(open)')
        a.dropdown-toggle(href="", dropdown-toggle="")
          | {{currentTranslate.text}}
          span.caret
        ul.dropdown-menu
          li(ng-repeat='language in languages')
            a(href='', ng-click="changeTranslate(language)", ng-bind='language.text')
      li.dropdown(ng-show='isShowUserNav()', dropdown="", on-toggle='toggled(open)')
        a.dropdown-toggle(href="", dropdown-toggle="")
          span(translate='talent.ui.layout.header.hello', translate-values="{name: talent.firstName}")
          span.caret
        ul.dropdown-menu
          li
            a(ui-sref='app.inside.account', translate='talent.ui.layout.header.menu.settings')
          li
            a(href='', ng-click='onSignOut()', translate='talent.ui.layout.header.menu.sign_out')
      li.user-avatar(ng-show='isShowUserAvatar()')
        img(ng-src='{{talent.avatarUrl.small}}')