ul#main-nav(ng-show='isShow()')
    li(ng-class="{active: isBelongsToState('app.inside.jobapps')}")
        a(ui-sref='app.inside.jobapps.overview', translate='talent.ui.layout.nav.my_application')
    li(ng-class="{active: isBelongsToState('app.inside.resumes')}")
        a(ui-sref='app.inside.resumes.overview', translate='talent.ui.layout.nav.my_resumes')
    li(ng-class="{active: isBelongsToState('app.inside.sharings')}")
        a(ui-sref='app.inside.sharings.overview', translate='talent.ui.layout.nav.sharings')
    li(ng-class="{active: isBelongsToState('app.inside.supports')}")
        a(ui-sref='app.inside.supports.overview', translate='talent.ui.layout.nav.support')