ng-form.form.form-vertical(name='educationForm')
  .form-group
    easy-input.col-xs-6(type="text", name='subject', ng-model="education.subject",
    label="'talent.ui.resume.component.education.subject' | translate",
    validator='required')

    easy-input.col-xs-12(type="text", name='schoolName', ng-model="education.schoolName",
    label="'talent.ui.resume.component.education.school_name' | translate",
    validator='required')

  .form-group
    easy-input.col-xs-6(type="ui-select", name='typeOfEducation', ng-model="education.typeOfEducation",
    label="'talent.ui.resume.component.education.type_of_education' | translate",
    options='typeOfEducationOptions',
    validator='required')

    easy-input.col-xs-6(type="text", name='degree', ng-model="education.degree",
    label="'talent.ui.resume.component.education.degree' | translate")

    easy-input.col-xs-6(type="ui-select", name='country', ng-model="education.country",
    label="'talent.ui.resume.component.education.country' | translate"
    options='countryOptions',
    validator='required')

  .form-group
    easy-input.col-xs-6(type="month-select", name='from', ng-model="education.from",
    label="'talent.ui.resume.component.education.from' | translate"
    validator='required')
    easy-input.col-xs-6(type="month-select", name='to', ng-model="education.to",
    label="'talent.ui.resume.component.education.to' | translate", options='toOptions',
    custom-validator='toValid', valid-trigger-event='trigger-to-validate')
    easy-input.col-xs-6(type='checkbox', name='completed', ng-model='education.completed',
    label="' '", options='completedOptions', ng-disabled='disabled')

  .form-group
    easy-input.col-xs-18(type="textarea", ng-model="education.description",
    label="'talent.ui.resume.component.education.description' | translate")
  .form-actions
    button.btn.btn-primary.pull-right(easy-submit='educationForm', ng-click="save()", translate='talent.ui.resume.component.education.button.submit')
    button.btn.btn-default.pull-right(ng-click="cancel()", translate='talent.ui.resume.component.education.button.cancel')
  .clearfix
