ng-form.form.form-vertical(name='workExperienceForm')
  .form-group
    easy-input.col-xs-6(type="text", name='position', ng-model="workExperience.position",
    label="'talent.ui.resume.component.work_experience.position' | translate"
    validator='required')
    easy-input.col-xs-6(type="text", name='company', ng-model="workExperience.company",
    label="'talent.ui.resume.component.work_experience.company' | translate"
    validator='required')
    easy-input.col-xs-6(type="ui-select", name='industry', ng-model="workExperience.industry",
    label="'talent.ui.resume.component.work_experience.industry' | translate",
    options='industryOptions', validator='required')
  .form-group
    easy-input.col-xs-6(type="ui-select", name='jobLevel', ng-model="workExperience.jobLevel",
    label="'talent.ui.resume.component.work_experience.job_level' | translate"
    options='levelOptions', validator='required')
    easy-input.col-xs-6(type="ui-select", name='termsOfEmployment', ng-model="workExperience.termsOfEmployment",
    label="'talent.ui.resume.component.work_experience.terms_of_employment' | translate"
    options='termOfEmploymentOptions')
    easy-input.col-xs-6(type="ui-select", name='country', ng-model="workExperience.country",
    label="'talent.ui.resume.component.work_experience.country' | translate"
    options='countryOptions',
    validator='required')

  .form-group
    easy-input.col-xs-6(type="month-select", name='from', ng-model="workExperience.from",
    label="'talent.ui.resume.component.work_experience.from' | translate"
    validator='required')
    easy-input.col-xs-6(type="month-select", name='to', ng-model="workExperience.to",
    label="'talent.ui.resume.component.work_experience.to' | translate", options='toOptions',
    custom-validator='toValid', valid-trigger-event='trigger-to-validate')
    .col-xs-6
  .form-group
    easy-input.col-xs-18(type="textarea", name='description', ng-model="workExperience.description",
    label="'talent.ui.resume.component.work_experience.description' | translate")
  .form-actions
    button.btn.btn-primary.pull-right(easy-submit='workExperienceForm', ng-click="save()", translate='talent.ui.resume.component.work_experience.button.submit')
    button.btn.btn-default.pull-right(ng-click="cancel()", translate='talent.ui.resume.component.work_experience.button.cancel')
  .clearfix
