footer#app-footer {
  background-color: $veeta_green;

  padding: 40px 0;

  a, span {
    color: white;
    font-weight: bold;
  }

  a:hover {
    color: white;
  }

  ul#footer-nav {
    list-style: none;
    float: right;

    li {
      float: left;
      padding-left: 15px;
    }
  }
}