#app-header {

  background-color: $veeta_green;
  min-height: 65px;
  min-width: 950px;

  &.with-login {
    height: 90px;

    .container {
      height: 90px;

      .logo {
        margin-top: 25px;
      }

      .header-nav{
        margin-top: 38px;
      }
    }
  }

  .container {
    height: 65px;

    .logo {
      @extend .pull-left;

      margin-top: 15px;
      background: url('../images/veeta_logo.png') no-repeat 0;
      width: 150px;
      height: 35px;
      background-size: contain;
    }

    .header-nav {
      @extend .nav;
      @extend .navbar-nav;
      @extend .navbar-right;

      margin-top: 28px;
      height: 37px;
      a {
        color: white;
      }

      &:last-child {
        margin-right: -120px !important;
      }

      > li {
        margin-left: 35px;

        &.open {
          > a,
          > a:hover,
          > a:focus {
            background-color: transparent;
          }
        }

        &.user-avatar {
          margin-left: 12px;

          img {
            width: 70px;
          }
        }

        > a {
          padding: 0;
          background-color: transparent;

          &:hover {
            background-color: transparent;
            text-decoration: underline;
          }

          > span.caret {
            margin-left: 5px;
          }
        }

        .form-login {
          @extend .form-inline;

          height: 50px;

          > label {
            color: white;
            display: block;
            position: absolute;
            font-weight: normal;
            margin-top: -20px;
          }

          .form-group {
            margin-right: 10px;

            a {
              display: block;
              position: absolute;
              margin-top: 5px;
              font-size: 12px;
              text-decoration: underline;
            }
          }

          .btn-submit {
            @extend .btn;
            @extend .btn-dark;

            &[disabled] {
              color: white;
              background-color: #777;
              border-color: #777;
            }
          }
        }
      }

      ul.dropdown-menu {
        > li {
          a {
            color: $veeta-font-color;
          }
        }
      }
    }
  }
}