#main-nav {

  @extend .container;
  @extend .nav;
  @extend .nav-pills;

  margin: 5px auto;

  >li {
    margin-right: 5px;

    a {
      text-align: center;
      padding: 0 20px;
      height: 30px;
      min-width: 140px;
      line-height: 30px;
    }
  }
}