// Veeta Custom
$veeta-green: #8abc1c;
$veeta-green-lter: #effbd5;
$veeta-green-dker: #4f8d18;

$veeta-red: #870D13;

$veeta-gray: #E1DFE0;

$bg-gray: #f4f4f3;
$bg-light: #fdfcfc;
$bg-dark: #ccc;

//$border-light: #cac9c9;
$border-light: #dadada;

$border-dark: #ccc;

$veeta-font-color: #4D4B4B;
$veeta-font-smooth: #797979;
$veeta-font-color-lter: #828282;
$veeta-font-color-ltest: #969696;

$veeta-font-color-dker: #333;
$veeta-font-color-danger: $veeta-red;

$veeta-border-color: #ccc;

$page-header-height: 65px;
$page-header-with-login-height: 100px;
$page-footer-height: 90px;
$page-wrapper-width: 950px;

// Colors
$brand-primary: $veeta-green;

// Scaffolding
$body-bg: $bg-gray;
$text-color: $veeta-font-color;

// Typography
$font-family-sans-serif: geometria, "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: museo, Georgia, "Times New Roman", Times, serif;
$font-family-base: $font-family-sans-serif;

// Components
$border-radius-base: 0px;

// Forms
$input-border: $veeta-border-color;
$input-border-focus: $veeta-green;
$input-height-base: 24px;
$input-height-large: 36px;

// Grid system
$grid-columns: 18;
$grid-gutter-width: 10px;

// Container sizes
$container-desktop: ((710px + $grid-gutter-width));

// Form states and alerts
$state-success-bg: $veeta-green-lter;

// Modals
$modal-inner-padding: 40px;
$modal-content-border-color: none;
$modal-header-border-color: none;

// Alerts
$alert-padding: 20px;
$alert-padding-lr: 35px;
$alert-success-title: $veeta-green;
$alert-success-text: $veeta-font-color;

// Panels
$panel-body-padding: 15px 0;
$panel-heading-padding: 15px 0;
$panel-default-border: none;
$panel-default-heading-bg: none;
$panel-default-text: $veeta-font-color;

// Wells
$well-bg: $bg-light;
$well-border: $border-light;

@import "bootstrap-sprockets";
@import "bootstrap";

.container{
  width: 720px !important;
}

a {
  text-decoration: none;
}

// h2 for page title
h2 {
  font-size: 20px;
  font-family: $font-family-serif;
  font-weight: 700;
}

// h3 for block title
h3 {
  font-size: 20px;
  font-weight: 500;
}