.container-fluid
  padding-left: 15px
  padding-right: 15px

#mobile
  #header
    @extend .container-fluid
    background: rgb(121,178,22)
    height: auto
  #logo
    margin: 13px 0 22px 0
    background: url('../images/veeta_logo.png') no-repeat 0
    width: auto
    height: 35px
  #content
    @extend .container-fluid
    margin: 20px 0
  #footer
    ul, ol
      margin-top: 0
      margin-bottom: 10px
      list-style: none
      padding-left: 0
    ul li
      padding: 16px 0
      color: #494949
      background: rgb(203, 201, 202)
      text-align: center
      font-size: 14px
      line-height: 1
    ul li:nth-child(odd)
      background: rgb(219, 219, 219)