.resume-component.languages
  .heading(ng-click="addNew()")
    h3 {{'talent.mobile.resumes.component.languages.title' | translate}}
  .body
    .new-edit(ng-show="editMode")
      ng-form.form
        easy-input.language(type="select2", ng-model="languageOnEdit.language",
        label="'talent.form.resume_languages.name.label' | translate"
        options='languageOptions',
        validator='required')
        easy-input.level(type="select", ng-model="languageOnEdit.level",
        label="'talent.form.resume_languages.level.label' | translate"
        options='levelOptions',
        validator='required')
        .buttons
          button.btn.btn-default(ng-click="add()", ng-hide='isOnUpdate') {{'add' | translate}}
          button.btn.btn-default(ng-click="update()", ng-show='isOnUpdate') {{'update' | translate}}
          button.btn.btn-default(ng-click="cancel()") {{'cancel' | translate}}
          button.btn.btn-default(ng-click="remove(language)" ng-show='isOnUpdate') {{'remove' | translate}}
    .collection
      .item(ng-repeat='language in languages', ng-click='select(language)')
        .hello hello
        label {{language.language.name}}
        label {{language.level}}
        .level
          .point(ng-repeat="i in [1,2,3,4,5]", ng-class='{active: isLevelPointActive(language.level, i)}')
