.resume-component.profile
  .heading
    h3 {{'talent.mobile.resumes.component.profile.title' | translate}}
  .body
    ng-form.form.media
      .content.default
        img(ng-src='{{talent.avatarUrl.medium}}')
        .avatar-buttons
          .button.reset.btn.btn-default.reset-btn {{'talent.mobile.resumes.component.profile.avatar.remove' | translate}}
          .button.replace.btn.btn-default.uploader-btn
            | {{'talent.mobile.resumes.component.profile.avatar.replace' | translate}}
            input.uploader-button(nv-file-select='', uploader="avatarUploader", type='file')
      .content.view(ng-hide='editMode==true')
        | {{fullName()}}
        | {{resume.talent.address.addressLine}}
        | {{resume.talent.address.placeName}}
        | {{resume.talent.nationality.name}}
        | {{resume.talent.phoneNumber}}
        | {{resume.talent.email}}
      .content.edit(ng-show='editMode==true')
        .new-line
          .field.salutation
            easy-input(type="select", ng-model="talent.salutation",
            label="'talent.form.talent_profile.salutation.label' | translate",
            validator='required',
            options="genderOptions")
          .field.academic-title
            easy-input(type="text", ng-model="talent.title",
            label="'talent.form.talent_profile.accademic_title.label' | translate",
            validator='required')
        .new-line
          .field.first-name
            easy-input(type="text", ng-model="talent.firstName",
            label="'talent.form.talent_profile.first_name.label' | translate",
            validator='required')
          .field.last-name
            easy-input(type="text", ng-model="talent.lastName",
            label="'talent.form.talent_profile.last_name.label' | translate")
        .new-line
          .field.address-line
            easy-input(type="text", ng-model="talent.address.addressLine"
            label="'talent.form.talent_profile.address.label' | translate")
        .new-line
          .field.address-zip
            easy-input(type="text", ng-model="talent.address.zip",
            label="'talent.form.talent_profile.zip_code.label' | translate")
          .field.address-city
            easy-input(type="text", ng-model="talent.address.city",
            label="'city' | translate",
            placeholder="'city' | translate")
          .field.address-country
            easy-input(type="select2", ng-model="talent.address.country",
            label="'talent.form.talent_profile.country.label' | translate"
            options="countryOptions")
        .new-line
          .field.phone-number
            easy-input(type="text", ng-model="talent.phoneNumber",
            label="'talent.form.talent_profile.phone_number.label' | translate")
          .field.email
            easy-input(type="text", ng-model="talent.email",
            label="'form.talent_profile.email.label' | translate",
            validator='email')
        .new-line
          .field.birthdate
            easy-input(type="date_select", ng-model="talent.birthdate",
            label="'talent.form.talent_profile.birth_date.label' | translate")
          .field.nationality
            easy-input(type="select2", ng-model="talent.nationalityCountry",
            label="'talent.form.talent_profile.nationality.label' | translate",
            options="countryOptions")
      .buttons.form-actions
        .button.cancel(ng-show='editMode==true', ng-click='editMode = false') {{'talent.mobile.resumes.component.profile.button.cancel' | translate}}
        .button.edit(ng-show='editMode==false', ng-click='editMode = true') {{'talent.mobile.resumes.component.profile.button.edit' | translate}}
        .button.save(ng-show='editMode==true', ng-click='onSave()') {{'talent.mobile.resumes.component.profile.button.confirm' | translate}}
