.resume-component.work-experiences
    .heading
        h3 {{'talent.mobile.resumes.component.work_experiences.title' | translate}}
    .body
        timeline(ng-model='workExperiences', new-ng-model='newWorkExperience',
        removeCallback='remove',
        options='workExperiencesTimelineOptions',
        form-directive='resume-work-experience-form')
