@font-face {
  font-family: "geometria";
  src: font-url("geometria-webfont.eot");
  src: font-url("geometria-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria-webfont.woff") format("woff"),
  font-url("geometria-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria1-webfont.eot");
  src: font-url("geometria1-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria1-webfont.woff") format("woff"),
  font-url("geometria1-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria2-webfont.eot");
  src: font-url("geometria2-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria2-webfont.woff") format("woff"),
  font-url("geometria2-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria3-webfont.eot");
  src: font-url("geometria3-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria3-webfont.woff") format("woff"),
  font-url("geometria3-webfont.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria4-webfont.eot");
  src: font-url("geometria4-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria4-webfont.woff") format("woff"),
  font-url("geometria4-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria5-webfont.eot");
  src: font-url("geometria5-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria5-webfont.woff") format("woff"),
  font-url("geometria5-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria6-webfont.eot");
  src: font-url("geometria6-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria6-webfont.woff") format("woff"),
  font-url("geometria6-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria7-webfont.eot");
  src: font-url("geometria7-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria7-webfont.woff") format("woff"),
  font-url("geometria7-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria8-webfont.eot");
  src: font-url("geometria8-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria8-webfont.woff") format("woff"),
  font-url("geometria8-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria9-webfont.eot");
  src: font-url("geometria9-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria9-webfont.woff") format("woff"),
  font-url("geometria9-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria10-webfont.eot");
  src: font-url("geometria10-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria10-webfont.woff") format("woff"),
  font-url("geometria10-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria11-webfont.eot");
  src: font-url("geometria11-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria11-webfont.woff") format("woff"),
  font-url("geometria11-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "geometria";
  src: font-url("geometria12-webfont.eot");
  src: font-url("geometria12-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("geometria12-webfont.woff") format("woff"),
  font-url("geometria12-webfont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}