
@font-face {
  font-family: "museo";
  src: font-url("museo1-webfont.eot");
  src: font-url("museo1-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo1-webfont.woff") format("woff"),
  font-url("museo1-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "museo";
  src: font-url("museo2-webfont.eot");
  src: font-url("museo2-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo2-webfont.woff") format("woff"),
  font-url("museo2-webfont.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "museo";
  src: font-url("museo3-webfont.eot");
  src: font-url("museo3-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo3-webfont.woff") format("woff"),
  font-url("museo3-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "museo";
  src: font-url("museo4-webfont.eot");
  src: font-url("museo4-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo4-webfont.woff") format("woff"),
  font-url("museo4-webfont.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "museo";
  src: font-url("museo5-webfont.eot");
  src: font-url("museo5-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo5-webfont.woff") format("woff"),
  font-url("museo5-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "museo";
  src: font-url("museo6-webfont.eot");
  src: font-url("museo6-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo6-webfont.woff") format("woff"),
  font-url("museo6-webfont.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "museo";
  src: font-url("museo7-webfont.eot");
  src: font-url("museo7-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo7-webfont.woff") format("woff"),
  font-url("museo7-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "museo";
  src: font-url("museo8-webfont.eot");
  src: font-url("museo8-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo8-webfont.woff") format("woff"),
  font-url("museo8-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "museo";
  src: font-url("museo9-webfont.eot");
  src: font-url("museo9-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo9-webfont.woff") format("woff"),
  font-url("museo9-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "museo";
  src: font-url("museo10-webfont.eot");
  src: font-url("museo10-webfont.eot?#iefix") format("embedded-opentype"),
  font-url("museo10-webfont.woff") format("woff"),
  font-url("museo10-webfont.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}