#sign-in {
  .page-header {
    h1 {

    }
  }
  .page-body {
    .signin-side {
      @include make-xs-column(9);
      padding-right: 100px;

    }
    .promo-side {
      @include make-xs-column(9);
    }
  }
}