#job {
  .info{
    border: solid 1px $veeta-green;
    padding: 20px;

    .media-left {
      width: 200px;
      margin-right: 20px;
    }

    .media-body {
      text-align: right;
      width: 480px;

      p.prefix-text {
        font-family: $font-family-serif;
        font-size: 14px;
        font-weight: 400px;
      }

      h1 {
        font-family: $font-family-serif;
        line-height: 30px;
        font-size: 22px;
        font-weight: normal;
      }
    }
  }

  .apply {
    margin-top: 45px;

    .detail{
      @include make-xs-column(12);

      h2 {
        font-size: 18px;
        font-weight: 300;
        font-family: $font-family-serif;
      }
    }

    .auth{
      @include make-xs-column(6);

      .title{
        margin-bottom: 15px;
        h3 {
          font-weight: normal;
          font-size: 18px;
          margin-bottom: 15px;
        }
      }



      .form-actions{
        @include make-row();

        margin-top: 15px;

        button{
          padding: 0;
          width: 100%;
        }
      }
    }
  }

  .unavailable {
    margin-top: 45px;
    @include make-xs-column(9);

    h2 {
      font-size: 20px;
      font-weight: 300;
      font-family: $font-family-serif;
    }

    .detail{


    }

    .contact {
      ul{
        @extend .list-unstyled;

        li {
          > span {
            font-weight: bold;
            margin-right: 10px;
          }
        }
      }
    }
  }
}