html, body {
  height: 100%;
}

header {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  height: $page-header-height;
}

#app {
  height: 100%;
}

#app-wrapper {
  min-height: 100%;
  width: $page-wrapper-width;
  padding-top: $page-header-height;
  margin: 0 auto;
  background: white;
  position: relative;
}

#app-content {
  @extend .container;

  overflow: visible;
  padding: 40px 0 $page-footer-height + 20px;
}

body.full-width-background {
  #page-wrapper {
    width: 100%;
  }
}

body.with-login-header{
  header {
    height: $page-header-with-login-height;
  }

  #page-wrapper{
    padding-top: $page-header-with-login-height;
  }
}

/* must be same height as the footer */

footer {
  position: relative;
  margin-top: -$page-footer-height; /* negative value of footer height */
  height: $page-footer-height;
  clear: both;
}

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; /* negate effect of float*/
}

.container.left-overflow {
  width: 835px !important;
  position: relative;
  left: 57px;
}
