

//#resume-shared-switch {
//  color: $veeta-font-color;
//
//  .shared-label {
//    margin-right: 15px;
//  }
//}

//.resume-actions-groups {
//  text-align: right;
//
//  ul {
//    list-style: none;
//  }
//}


#resume-workspace {
  margin: 0 -40px 40px;
  padding: 40px;
  background-color: $bg-light;
  border: $border-light 1px solid;
}

#resume-export-styles-selector.slick-slider {
  margin: 20px 20px 30px;

  .slick-slide {
    img {
      margin: 0 auto;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: $veeta-font-color !important;
  }
}

#resume-export-btn-group {
  padding: 0 20px;

  & > div {
    width: 33.3%;
    display: inline-block;
    text-align: center;

    button.btn {
      height: 65px;
      width: 190px;
      border: $border-light 1px solid;
      margin: 0 auto;
      background: $bg-light;
    }
  }
}

@import "resume/overview";
@import "resume/header";
@import "resume/add_module";
@import "resume/additional_documents";
@import "resume/detail";
@import "resume/detail_nav";
@import "resume/educations";
@import "resume/import";
@import "resume/language";
@import "resume/languages";
@import "resume/profile";
@import "resume/skills";
@import "resume/updates";
@import "resume/work_experiences";
