#sharing {
  .page-panel {
    ul.overview-list {
      a {
        color: $veeta-font-color;
        text-decoration: underline;
      }

      .media-left {
        width: 150px;
        height: 150px;

        img{
          width: 100%;
          height: auto;
        }
      }

      .media-body{
        width: 480px;
        padding-left: 10px;
      }

      .info {
        @include make-xs-column(11);

        h3.media-heading {
          min-height: 60px;
        }

        ul.preview-list {
          list-style: none;
          padding: 0;

          li {
            float: left;
            margin-right: 10px;

            &:last-child {
              margin-right: 0;
            }

            img {
              width: 70px;
              height: 86px;
              margin-bottom: 5px;
            }

            a {
              display: block;

            }
          }
        }
      }

      .actions {
        @include make-xs-column(7);

        font-size: 12px;
        text-align: right;
        margin-left: 0;

        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}