#welcome {
  .promo {
    @include make-xs-column(10);

    .title {
      font-weight: 500;
    }
  }
  .signup {
    @include make-xs-column(6);
    @extend .col-xs-offset-2;

    .title {
      font-family: $font-family-serif;
      font-size: 20px;
      font-weight: 700;
    }

    .signup-form {
      .btn-submit {
        width: 100%;
      }
    }

    .resume-type-level {
      @include make-row();
      margin: -5px 0 10px;
      span {

      }
      span.min {
        float: left;
      }

      span.max {
        float: right;
      }
    }
  }
  .confirm {
    @extend .btn-block;
  }
  .login-link {
    border-top: solid 1px $border-light;
    margin-top: 10px;
    padding-top: 10px;
  }
}