#app-flash(ng-show='isMessageExisted()')
    h4.title
        i.fa(ng-class='flashMessage.iconName', ng-show='flashMessage.iconName')
        | {{flashMessage.title | translate}}
    .body(ng-bind-html='flashMessage.body | translate')

