.modal-header
  p(translate="talent.form.item_remove.delete_confirmation")
.modal-footer
  .btn-group
    button.btn.btn-default(ng-click="cancel()", translate='talent.cancel')
    button.btn.btn-primary(ng-click="remove()", translate='talent.delete')
