.row
    easy-input.col-xs-8(type='ui-select', name='month-select', ng-model='dateFields.month', options='monthOptions', wrapper='none', ng-disabled='monthDisabled')
    easy-input.col-xs-10(type='ui-select', name='year-select', ng-model='dateFields.year', options='yearOptions', wrapper='none', ng-disabled='yearDisabled')
