.timeline
  .timeline-header
    .timeline-caption
      .time-icon.inline-block {{maxYear()}}
  article.timeline-item
    .timeline-caption
      .panel
        .panel-body
          timeline-form.container.timeline-form(ng-model='newEvent', ng-if="isInEditMode(newEvent)", form-directive='formDirective')
          .timeline-box(ng-hide="isInEditMode(newEvent)")
            span.timeline-arrow
            span.timeline-icon
              .time-icon
            button.timeline-new-btn.btn.btn-default(ng-click='onEdit(newEvent)')
              i.icon.fa.fa-plus
              | Add another
              br
              | {{eventName}}
  article.timeline-item(ng-repeat="event in events | orderBy : eventOrder : true", ng-class="{alt:($index % 2 == 0)}")
    .timeline-caption
      .panel
        .panel-body
          timeline-form.container.timeline-form(ng-model='event', ng-if="isInEditMode(event)", form-directive='formDirective')
          .timeline-box(ng-hide="isInEditMode(event)")
            span.timeline-arrow
            span.timeline-icon(ng-style="timelineIconStyle(event, $index)")
              .time-icon(ng-style="timeIconStyle(event)")
            h5.description
              .duration {{printDuration(event)}}
              .heading {{printHeading(event)}}
              .sub-heading {{printSubHeading(event)}}
            button.btn.btn-xs.btn-default(ng-click='onEdit(event)') Edit
            button.btn.btn-xs.btn-default(ng-click='onRemove(event)') Delete
            .timeline-has-error(ng-show='event.isJustImported')
              p please check your imported entry and save it
  .timeline-footer(ng-show='minYear() != null')
    .timeline-caption
      .time-icon.inline-block {{minYear()}}