#resume-add-module.block-panel
  .heading
    h3(translate='talent.ui.resume.component.add_module.title')
  .body
    p(translate='talent.ui.resume.component.add_module.description')
    ul.module-list
      li(ng-repeat='module in modules')
        span.add
          i.fa.fa-plus
        p(ng-bind='module')