#resume-additional-documents.block-panel
  .heading
    h3(translate='talent.ui.resume.component.additional_documents.title')
  .body
    ng-form.form.form-vertical
      .form-group
        easy-input.col-xs-8(type='ui-select', ng-model='newDocumentType',
        label="'talent.ui.resume.component.additional_documents.label' | translate", options='documentTypeOptions',
        validator='required')
        .col-xs-10
          button.btn.btn-primary.uploader-btn
            i.fa.fa-upload
            | &nbsp;
            span(translate='talent.ui.resume.component.additional_documents.upload')
            input.uploader-button(nv-file-select='', uploader="documentUploader", type='file')

      p(translate='talent.ui.resume.component.additional_documents.supported_files')
