nav#resume-nav-railway
  ul#resume-nav.bs-sidebar.hidden-print(role="complementary", data-offset-top="-80", bs-affix)
    li(ng-if='modules.profile')
      a.active(href='#resume-profile', ng-click='scrollTo("resume-profile")', translate='talent.ui.resume.component.nav.profile')
    li(ng-if='modules.generalInformation')
      a(href='#resume-availability', ng-click='scrollTo("account-availability")', translate='talent.ui.resume.component.nav.availability')
    li(ng-if='modules.workExperience')
      a(href='#resume-work-experiences', ng-click='scrollTo("resume-work-experiences")', translate='talent.ui.resume.component.nav.availability')
    li(ng-if='modules.education')
      a(href='#resume-educations', ng-click='scrollTo("resume-educations")', translate='talent.ui.resume.component.nav.educations')
    li(ng-if='modules.languages')
      a(href='#resume-languages', ng-click='scrollTo("resume-languages")', translate='talent.ui.resume.component.nav.languages')
    li(ng-if='modules.skills')
      a(href='#resume-skills', ng-click='scrollTo("resume-skills")', translate='talent.ui.resume.component.nav.skills')
    li(ng-if='modules.links')
      a(href='#resume-links', ng-click='scrollTo("resume-links")', translate='talent.ui.resume.component.nav.links')
    li(ng-if='modules.documents')
      a(href='#resume-documents', ng-click='scrollTo("resume-additional-documents")', translate='talent.ui.resume.component.nav.documents')
    li(ng-if='modules.addModule')
      a(href='#resume-add-module', ng-click='scrollTo("resume-add-module")', translate='talent.ui.resume.component.nav.add_module')