#resume-educations.block-panel
  .heading
    h3(translate='talent.ui.resume.component.educations.title')
  .body
    timeline(ng-model='educations', new-ng-model='newEducation',
    remove-callback='remove(education)',
    options='educationsTimelineOptions', form-directive='resume-education-form')
