#resume-header
  #resume-name
    h3(ng-bind='resume.name')
    p {{'talent.ui.resume.detail.last_update' | translate}} {{resume.updatedAt | date: 'dd.MM.yyyy HH:mm'}}
  #resume-shared-companies(ng-show='isShowSharedCompanies()')
    p(translate='talent.ui.resume.detail.share_with')
    ul
      li(ng-repeat="company in resume.sharedWith")
        img(ng-src="{{company.logoUrl}}")
