#resume-header-extend
  #resume-name
    .name
      h4(editable-text='resume.name', e-form='resumeTitleForm', onbeforesave='updateName($data)')
        | {{ resume.name || 'empty' }}
      button.btn-edit(ng-click='resumeTitleForm.$show()', ng-hide='resumeTitleForm.$visible', translate='talent.ui.resume.detail.button.change_name')
    p.last-update(ng-hide='isNew()') {{'talent.ui.resume.detail.last_update' | translate}} {{resume.updatedAt | date: 'dd.MM.yyyy HH:mm'}}

  #resume-actions
    p(translate='talent.ui.resume.detail.actions.title')
    p
      a(translate='talent.ui.resume.detail.actions.export')
    p
      a(href='', ng-click='onSharing()', translate='talent.ui.resume.detail.actions.share')
      span(translate='talent.ui.resume.detail.actions.or')
      a(translate='talent.ui.resume.detail.actions.send')
  #resume-shared-companies(ng-show='isShowSharedCompanies()')
    p(translate='talent.ui.resume.detail.shared_with')
    ul
      li(ng-repeat="company in resume.companies")
        img(ng-src="{{company.logoUrl}}")
  #resume-sharing.block-panel(ng-show='sharingMode == true')
    .heading
      h3(translate='talent.ui.resume.detail.share.title')
    .body
      form.form(name='sharingForm')
        .form-groups.row
          easy-input.col-xs-6(type="text", name='contact', ng-model="resumeSharing.contact_name"
          label="'talent.ui.resume.detail.share.name' | translate"
          validator='required')
          easy-input.col-xs-6(type="email", name='email', ng-model="resumeSharing.email"
          label="'talent.ui.resume.detail.share.email' | translate"
          validator='required, email')
          button.btn-submit(easy-submit='sharingForm', ng-click="share()", translate='talent.ui.resume.detail.share.button.submit')
          button.btn-cancel(ng-click="exitSharing()", translate='talent.ui.resume.detail.share.button.cancel')

