#resume-import.block-panel
  .heading
    h3(translate='talent.ui.resume.detail.import.title')
  .body
    p(translate='talent.ui.resume.detail.import.description')
    .import-buttons
      input(type='file', nv-file-select='', uploader="pdfParsingUploader")
      button.btn.btn-linkedin
        h4(translate='talent.ui.resume.detail.import.linkedin.title')
        p(translate='talent.ui.resume.detail.import.linkedin.description')
      button.btn.btn-xing
        h4(translate='talent.ui.resume.detail.import.xing.title')
        p(translate='talent.ui.resume.detail.import.xing.description')