#resume-languages.block-panel
.heading
  h3(translate='talent.ui.resume.component.languages.title')
.body
  .language-list
    .item(ng-repeat='language in languages', ng-mouseover='showControl(language)', ng-mouseleave='hideControl(language)')
      .control(ng-show='language.isShowControl')
        button.btn.btn-xs.btn-dark(ng-click='select(language)', translate='talent.ui.resume.component.languages.button.edit')
        button.btn.btn-xs.btn-primary(ng-click='remove(language)', translate='talent.ui.resume.component.languages.button.cancel')
      .hello(ng-bind='language.language.hello')
      label(ng-bind='language.language.name')
      label(ng-show='language.level == 1', translate='talent.options.language.beginner')
      label(ng-show='language.level == 2', translate='talent.options.language.intermediate')
      label(ng-show='language.level == 3', translate='talent.options.language.fluent')
      label(ng-show='language.level == 4', translate='talent.options.language.business_fluent')
      label(ng-show='language.level == 5', translate='talent.options.language.native')

      .level
        .point(ng-repeat="i in [1,2,3,4,5]", ng-class='{active: isLevelPointActive(language.level, i)}')
  .clearfix
  ng-form.form(name='languageSkillForm')
    .form-group.row
      easy-input.col-xs-6(type="ui-select", name='language', ng-model="languageOnEdit.language",
      label="'talent.ui.resume.component.languages.language.label' | translate"
      options='languageOptions', validator='required')
      easy-input.col-xs-5(type="ui-select", name='languageLevel', ng-model="languageOnEdit.level",
      label="'talent.ui.resume.component.languages.level.label' | translate"
      options='languageLevelOptions', validator='required')
      .col-xs-6(ng-hide='isOnUpdate==true')
        button.btn.btn-primary(easy-submit='languageSkillForm', ng-click="add()", style='margin-top: 24px;')
          i.fa.fa-plus
          | &nbsp;
          span(translate='talent.ui.resume.component.languages.button.add')
      .col-xs-6(ng-show='isOnUpdate==true')
        button.btn.btn-primary(easy-submit='languageSkillForm', ng-click="update()", style='margin-top: 24px;', translate='talent.ui.resume.component.languages.button.update')
        button.btn.btn-default(ng-click="cancel()", style='margin-top: 23px; margin-left: 10px', translate='talent.ui.resume.component.languages.button.cancel')