#resume-language.block-panel
  .heading
    h3(translate='talent.ui.resume.component.language.title')
  .body
    .form-group
      easy-input(type='ui-select', ng-model='resume.language',
      wrapper='inline-form', label="'talent.ui.resume.component.language.label' | translate",
      options='languageOptions', ng-change='updateLanguage()')
