#resume-links.block-panel
  .heading
    h3(translate='talent.ui.resume.component.links.title')
  .body
    ng-form.form
      .form-group
        .col-xs-6
          label(translate='talent.ui.resume.component.links.linkedin')
          .input-group
            .input-group-addon
              i.fa.fa-linkedin
            input.form-control(ng-model='links.linkedin')
          span.help-block
        .col-xs-6
          label(translate='talent.ui.resume.component.links.xing')
          .input-group
            .input-group-addon
              i.fa.fa-xing
            input.form-control(ng-model='links.xing')
          span.help-block
        .col-xs-6
          label(translate='talent.ui.resume.component.links.website')
          .input-group
            .input-group-addon
              i.fa.fa-globe
            input.form-control(ng-model='links.website')
          span.help-block
