#resume-profile.block-panel
  .heading
    h3
      span(translate='talent.ui.resume.component.profile.title')
      span.flag-required(translate='talent.ui.resume.component.profile.required')
  .body
    div(talent-profile='')
