#resume-skills.block-panel
  .heading
    h3(translate='talent.ui.resume.component.skills.title')
  .body
    .skill-list
      .item(ng-repeat='skill in skills', ng-mouseover='showControl(skill)', ng-mouseleave='hideControl(skill)')
        .control(ng-show='skill.isShowControl')
          button.btn.btn-xs.btn-dark(ng-click='select(skill)', translate='talent.ui.resume.component.skills.button.edit')
          button.btn.btn-xs.btn-primary(ng-click='remove(skill)', translate='talent.ui.resume.component.skills.button.delete')
        label(ng-show='skill.level == 1', translate='talent.options.skill.beginner')
        label(ng-show='skill.level == 2', translate='talent.options.skill.intermediate')
        label(ng-show='skill.level == 3', translate='talent.options.skill.advanced')
        label(ng-show='skill.level == 4', translate='talent.options.skill.expert')
        .level
          .level-bar(ng-style="{'width': (skill.level * 25) +'%'}")
        .name(ng-bind='skill.name')
    .clearfix
    ng-form.form(name='skillForm')
      .form-group.row
        easy-input.col-xs-6(type="text", name='name', ng-model="skillOnEdit.name",
        label="'talent.ui.resume.component.skills.name.label' | translate"
        validator='required')
        easy-input.col-xs-5(type="ui-select", name='level', ng-model="skillOnEdit.level",
        label="'talent.ui.resume.component.skills.level.label' | translate"
        options='skillLevelOptions', validator='required')
        .col-xs-6(ng-hide='isOnUpdate==true')
          button.btn.btn-primary(easy-submit='skillForm', ng-click="add()", style='margin-top: 24px;')
            i.fa.fa-plus
            | &nbsp;
            span(translate='talent.ui.resume.component.skills.button.add')
        .col-xs-6(ng-show='isOnUpdate==true')
          button.btn.btn-primary(easy-submit='skillForm', ng-click="update()", style='margin-top: 24px;', translate='talent.ui.resume.component.skills.button.update')
          button.btn.btn-default(ng-click="cancel()", style='margin-top: 24px; margin-left: 10px', translate='talent.ui.resume.component.skills.button.cancel')
