#resume-updates
  span(translate='talent.ui.resume.overview.sharing_label')
  input.update-btn(bs-switch
  ng-model="resumeUpdates",
  type="checkbox",
  switch-size="small",
  switch-on-text="ON",
  switch-off-text="OFF",
  switch-on-color="success",
  switch-off-color="default" )
  span
    i.help