#resume-work-experiences.block-panel
  .heading
    h3(translate='talent.ui.resume.component.work_experiences.title')
  .body
    timeline(ng-model='workExperiences', new-ng-model='newWorkExperience',
    removeCallback='remove',
    options='workExperiencesTimelineOptions',
    form-directive='resume-work-experience-form')
