p.nav-back-link
  i.fa.fa-angle-left
  a(href='', ui-sref='app.inside.jobapps.overview', translate='talent.ui.jobapp.detail.back')

#jobapp.detail
  .jobapp-detail
    .job-detail
      h2.job(ng-bind='jobapp.job.jobname')
      h3.company(translate='talent.ui.jobapp.detail.at_company', translate-values='{company: jobapp.job.companyName}')
        span.withdraw(ng-show='isWithdrawn()', translate='talent.ui.jobapp.detail.withdraw')
      p {{'talent.ui.jobapp.detail.application_sent' | translate}} : {{jobapp.createdAt | date: 'dd.MM.yyyy HH:mm'}}
    .actions
      p(translate='talent.ui.jobapp.detail.actions.title')
      p
        span(translate='talent.ui.jobapp.detail.actions.question')
        br
        a(href='', translate='talent.ui.jobapp.detail.actions.contact')
      p(ng-hide='isWithdrawn()')
        span(translate='talent.ui.jobapp.detail.actions.withdraw')
        br
        a(href='', ng-click='openWithdrawConfirmModal()', translate='talent.ui.jobapp.detail.actions.confirm')
    .clearfix

  .company-detail.block-panel
    img(ng-src='{{jobapp.job.company.logoUrl}}')
    .body
      h4(translate='talent.ui.jobapp.detail.company.title')
      p(ng-show='jobapp.job.recruiterName', translate='talent.ui.jobapp.detail.company.name', translate-values='{name: jobapp.job.recruiterName}')
      p(ng-show='jobapp.job.recruiterPhone', translate='talent.ui.jobapp.detail.company.number', translate-values='{phone: jobapp.job.recruiterPhone}')
      p(ng-show='jobapp.job.recruiterEmail', translate='talent.ui.jobapp.detail.company.email', translate-values='{email: jobapp.job.recruiterEmail}')
      .status-info
        p(translate='talent.ui.jobapp.detail.company_detail.status_hint')
        p
          span(translate='talent.ui.jobapp.detail.company.status')
          span.status(ng-bind='jobapp.talentInfoStatus')

  .resume-detail.block-panel
    .heading
      h3(translate='talent.ui.jobapp.detail.resume.title')
    .body
      img(src='//placehold.it/150x210')
      .body
        .info
          h3(ng-bind='jobapp.resume.name')
          p
            a(href='', ui-sref='app.inside.resumes.detail({id: jobapp.resume.id})',
            translate='talent.ui.jobapp.detail.resume.view_original')
          p {{"talent.ui.jobapp.detail.resume.last_update" | translate }}: {{jobapp.resume.updatedAt | date: 'dd.MM.yyyy HH:mm'}}
          p
            a(href='', ui-sref='app.inside.resumes.detail({id: jobapp.resume.id})',
            translate='talent.ui.jobapp.detail.resume.view')
        .sharings(ng-show='isWithSharingCompanies()')
          p(translate='talent.ui.jobapp.detail.resume.shared_with')
          ul.sharings-list
            li(ng-repeat='company in jobapp.resume.companies')
              img(ng-src='{{company.logoUrl}}')

  .cover-letter.block-panel(ng-show='jobapp.coverLetter')
    .heading
      h3(translate='talent.ui.jobapp.detail.cover_letter')
    .body
      p(ng-bind='jobapp.coverLetter')

  .addtional-information.block-panel
    .heading
      h3(translate='talent.ui.jobapp.detail.additional_information.title')
    .body
      p(translate='talent.ui.jobapp.detail.additional_information.expected_salary')
      p(translate='talent.ui.jobapp.detail.additional_information.readiness_to_travel')
p.nav-back-link
  i.fa.fa-angle-left
  a(href='', ui-sref='app.inside.jobapps.overview', translate='talent.ui.jobapp.detail.back')
