#job
  .info.media
    .media-left
      img.logo(ng-src='{{job.company.logoUrl}}')
    .media-body
      p.prefix-text(translate='talent.ui.jobapp.job.company_name.prefix')
      h1.company-name(translate='talent.ui.jobapp.job.company_name.job_at_company', translate-values='{jobName: job.jobname, companyName: job.company.name}')
  .apply(ng-show='job.available')
    .detail
      h2(translate='talent.ui.jobapp.job.detail.company_is_using_veeta', translate-values='{companyName: job.company.name}')
      p(translate='talent.ui.jobapp.job.detail.about.description')

    .auth.animate-switch-container(ng-switch='', on='authMode')
      ng-form.form-vertical.animate-switch(name='signUpForm', ng-switch-when='signUp')
        .form-group.title
          h3(translate='talent.ui.jobapp.job.sign_up.title')
          a(href='', translate='talent.ui.jobapp.job.sign_up.goto_sign_in',
          ng-click="setAuthMode('signIn')")
        .error(ng-if='loginError')
          .alert.alert-danger(ng-bind='loginError')
        .form-group
          easy-input(type='ui-select', name='country', ng-model='talentAuth.country', label='"talent.country" | translate',
          options='countryOptions', validator='required')
        .form-group
          easy-input(type='email', name='email', ng-model='talentAuth.email',
          label='"talent.ui.jobapp.job.sign_up.email" | translate', validator='required, email')
        .form-group
          .slider-container
            label(translate='talent.ui.jobapp.job.resume_type')
            slider(ng-model="talentAuth.resumeType",
            floor="1",
            ceiling="12",
            step="1"
            translate-fn='careerLevelFormatter')
        .form-actions
          button.btn-submit(easy-submit='signUpForm', ng-click='signUpApply()', translate='talent.ui.jobapp.job.sign_up.button.submit')
        .form-group

      ng-form.form-vertical.animate-switch(name='signInForm', ng-switch-when='signIn')
        .form-group.title
          h3(translate='talent.ui.jobapp.job.sign_in.title')
          a(href='', translate='talent.ui.sign_in.goto_sign_up',
          ng-click="setAuthMode('signUp')")
        .form-group
          easy-input(type='email',name='email', ng-model='talentAuth.email', 
            label='"talent.ui.jobapp.job.sign_in.email" | translate', validator='required, email')
        .form-group
          easy-input(type='password',name='password', ng-model='talentAuth.password', 
            label='"talent.ui.jobapp.job.sign_in.password" | translate', validator='required')
          a(ui-sref='app.requestPassword', translate='talent.ui.jobapp.job.sign_in.new_password')

        .form-actions
          button.btn-submit(easy-submit='signInForm', ng-click='signInApply()', translate='talent.ui.jobapp.job.sign_in.button.submit')
        .form-group

  .unavailable(ng-show='!job.available')
    .detail
      h2(translate='talent.ui.jobapp.job.unavailable.title')
      p(translate='talent.ui.jobapp.job.unavailable.description')
    .contact
      p(translate='talent.ui.jobapp.job.unavailable.contact_directly')
      ul
        li(ng-show='job.recruiter.firstName')
          span(translate='talent.ui.jobapp.job.contact_person', translate-values='{job: job.recruiter.name}')
        li(ng-show='job.recruiter.phoneNumber')
          span(translate='talent.ui.jobapp.job.phone', translate-values='{number: job.recruiter.phoneNumber}')
        li(ng-show='job.recruiter.email')
          span(translate='talent.ui.jobapp.job.email', translate-values='{email: job.recruiter.email}')
    .about
      h3(translate='talent.ui.jobapp.job.about.title')
      p(translate='talent.ui.jobapp.job.about.description')
