#jobapp.new
  p.nav-back-link(ng-show="isShowNavBack()")
    i.fa.fa-angle-left
    a(href='', ui-sref='app.inside.jobapps.overview', translate='talent.ui.jobapp.new.back')
  .job-info(ng-show="job")
    .logo
      img(ng-src='{{jobapp.job.company.logoUrl}}')
    .description
      p(translate='talent.ui.jobapp.new.application_as')
      h4(ng-bind="jobapp.job.jobname")
      p(translate='talent.ui.jobapp.new.by_company', translate-values='{company: job.companyName}')
  jobapp-wizard-bar(step='step', resumes-length='resumes.length')
  ui-view
