#jobapp.overview
  .page-panel
    .heading
      h2(translate='talent.ui.jobapps.overview.title')
    .body
        p(translate='talent.ui.jobapps.overview.description')
      .well
        h4(translate='talent.ui.jobapps.overview.more_info')
        .overview-nav
          button.btn-view(ui-sref='app.inside.jobapps.new', translate='talent.ui.jobapps.overview.button.send')
          button.btn-view(translate='talent.ui.jobapps.overview.button.review')
          button.btn-view(translate='talent.ui.jobapps.overview.button.withdraw')

      ul.jobapps-list.media-list
        li.media(ng-repeat="jobapp in jobapps", ng-class='{withdrawn: jobapp.withdrawnAt}')
          img.media-object(ng-src='{{jobapp.job.company.logoUrl}}')
          .media-body
            p {{jobapp.createdAt | datetimeDefault}}
            p.title(translate='talent.ui.jobapp.overview.list.title', translate-values='{job: jobapp.job.jobname, at: talent.at, company: jobapp.job.companyName}')
            p(translate='talent.ui.jobapp.overview.list.resume', translate-values='{resume: jobapp.resume.name}')
            button.btn-view(ui-sref='app.inside.jobapps.detail({id: jobapp.id})', translate='talent.ui.jobapps.overview.view_application')