.alert {
  padding: $alert-padding $alert-padding-lr;
  font-weight: 300;
  line-height: 1.8;
  margin-bottom: 30px;

  h4 {
    color: $alert-success-title;
    font-size: 18px;

    i {
      margin-right: 10px;
    }
  }
}