//
//.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
//  border-bottom-right-radius: 3px;
//  border-top-right-radius: 3px;
//}
//
//.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
//  border-bottom-left-radius: 3px;
//  border-top-left-radius: 3px;
//}

.bootstrap-switch {
  border-radius: 0;
  text-transform: uppercase;
  font-weight: bold;

  .bootstrap-switch-container {
    border-radius: 0;
  }

  .bootstrap-switch-focused {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .bootstrap-switch-handle-on.bootstrap-switch-success,
  .bootstrap-switch-handle-off.bootstrap-switch-success {
    color: #fff;
    background: $veeta-green;
  }

  .bootstrap-switch-handle-on,
  .bootstrap-switch-handle-off {
    border-radius: 0;
  }

  &.bootstrap-switch-small {
    .bootstrap-switch-handle-on,
    .bootstrap-switch-handle-off,
    .bootstrap-switch-label {
      line-height: 15px;
      padding: 2px 0 1px;
    }
  }
}
