.btn {
  border-radius: 0;

  &:focus,
  &.active:focus{
    outline-color: $veeta-green;
  }
}

.btn-default {
  background-color: $veeta-gray;
  border-color: $veeta-gray;
  color: $veeta-font-color;

  &:hover {
    background-color: white;
    border-color: $veeta-green;
    color: $veeta-green
  }
}

.btn-primary {
  background-color: $veeta-green;
  border-color: $veeta-green;

  &:hover {
    background-color: $veeta-green-dker;
  }
}

.btn-dark {
  background-color: #666;
  border-color: #666;
  color: white;

  &:hover {
    background-color: #777;
    color: white;

  }
}

.btn-submit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-lg,
.btn-group-lg > .btn,
.btn-group-lg > .btn-submit {
  padding: 10px 25px;
  font-size: 16px;
  line-height: 1.33;
  border-radius: 0;
}

.btn,
.btn-submit,
.btn-next {
  padding: 2px 15px;
  height: 24px;
}

.btn-view {
  @extend .btn;
  @extend .btn-default;
}

.btn-new {
  @extend .btn;
  @extend .btn-primary;
}

.btn-submit {
  @extend .btn;
  @extend .btn-primary;
}

.btn-edit {
  @extend .btn;
  @extend .btn-default;
}


.btn-upload {
  @extend .btn;
  @extend .btn-primary;
}

.btn-cancel {
  @extend .btn;
  @extend .btn-default;
}

.btn-remove {
  @extend .btn;
  @extend .btn-default;
}

.btn-dark {
  @extend .btn;
  @extend .btn-primary;
}
