//@include font-face(geometria, 'geometria/geometria-webfont', 100, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria1-webfont', 100, italic, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria2-webfont', 200, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria3-webfont', 200, italic, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria4-webfont', 300, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria5-webfont', 300, italic, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria6-webfont', 400, normal, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria7-webfont', 400, italic, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria8-webfont', 500, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria9-webfont', 500, italic, $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria10-webfont', 700,  $asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria11-webfont', 700, italic,$asset-pipeline: true);
//@include font-face(geometria, 'geometria/geometria12-webfont', 800, $asset-pipeline: true);
//
//
//@include font-face(museo, 'museo/museo1-webfont', 100, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo2-webfont', 100, italic, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo3-webfont', 300, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo4-webfont', 300, italic, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo5-webfont', 500, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo6-webfont', 500, italic, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo7-webfont', 700, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo8-webfont', 700, italic, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo9-webfont', 900, $asset-pipeline: true);
//@include font-face(museo, 'museo/museo10-webfont', 900, italic, $asset-pipeline: true);
//
//@include font-face(slick, 'slick/slick', $asset-pipeline: true);
//
//.page-title{
//  margin-bottom: 30px;
//
//  h2 {
//    font-size: 20px;
//    font-family: $font-family-serif;
//    font-weight: 700;
//    margin-top: 0px;
//    margin-bottom: 15px;
//  }
//
//  p {
//    font-size: 14px;
//    font-family: $font-family-sans-serif;
//    font-weight: 300;
//    margin-bottom: 15px;
//  }
//}