*:focus
{
  outline: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.form-group {
  margin-bottom: 25px;
}

.form-actions {
  .btn {
    margin-right: 15px;

    &.pull-right {
      margin-left: 15px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

// style for select2
.select2-container {
  .select2-choice {
    height: $input-height-base;
    border-radius: $input-border-radius;
    border-color: $input-border;
    background: #ffffff;

    .select2-chosen {
      font-size: 12px;
      color: $veeta-font-smooth;
      padding: 2px 6px;
      height: $input-height-base - 2px;
      line-height: $input-height-base - 4px;
    }

    .select2-arrow {
      background: #ffffff;
      border: none;

//      b {
//        @extend .fa;
//        @extend .fa-caret-down;
//        background: none;
//      }
    }
  }
}

.select2-drop-open {
  &.select2-drop-above {

    .select2-choice {
      background: white;
    }
  }
}

.select2-drop {
  border-radius: 0;
  &.select2-drop-above {
    border-radius: 0;
  }
}

.select2-search {
  font-size: 12px;
  color: $veeta-font-smooth;
  padding: 2px 6px;
  min-height: 24px;

  input {
    @extend .form-control;
  }
}

.select2-results {
  .select2-highlighted {
    background: $veeta-green;
    .select2-result-label {
      color: white;
    }
  }

  .select2-result-label {
    padding: 2px 6px;
    font-size: 12px;
    color: $veeta-font-smooth;
    line-height: 20px;
  }
}

.select2-drop-active {
  border-color: $veeta-green;
  //  border-left-color: $veeta-green;
  //  border-right-color: $veeta-green;
  //  border-top-color: $veeta-green;
}

.select2-drop.select2-drop-above.select2-drop-active {
  border-top-color: $veeta-green;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
  border-color: $veeta-green;
  border-radius: 0;
  background: white;
}

.input-group-addon {
  &.linkedin {

  }
  &.xing {

  }
}

.form-group {
  margin-bottom: 0px;

  label {

    font-weight: normal;
    margin-bottom: 3px;

  }
}

select {
  border-radius: 0;
  -webkit-appearance: none;
  //  border-top-left-radius: 0;
  //  border-top-right-radius: 0;
  //  border-bottom-left-radius: 0;
  //  border-bottom-right-radius: 0;
}

.form-control {
  font-size: 12px;
  color: $veeta-font-smooth;
  padding: 2px 6px;
  line-height: 20px;
}

textarea {
  resize: none;
}

.btn-default.ui-select-match {
  background: white;
}

.help-block {
  font-size: 12px;
  margin-bottom: 0px;
  height: 18px;
  line-height: 18px;
}

.form-actions.on-right {
  text-align: right;
  button {
    margin-left: 15px;
    margin-right: 0
  }
}

.form-vertical {
  .form-group {
    @include make-row();
  }

  label {
    height: 20px;
    display: block;

    small {
      color: $veeta-font-color-ltest;
      font-style: italic;
    }
  }

  easy-input[type='checkbox'] {
    .checkbox {
      margin-top: 3px;
      margin-bottom: 2px;
    }
  }
}

.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: $veeta-green;
}

button.btn.btn-default.form-control.ui-select-match {
  &:focus,
  &.btn-default-focus {
    outline-color: $veeta-green;
  }
}

button.btn:focus {
  outline-color: $veeta-green;
}

.input-group-addon {
  padding: 3px 6px;
}

ul[datepicker-popup-wrap] {
  .btn:focus{
    outline-color: none;

    strong {
      outline-color: none;
    }
  }
  .btn-default {
    border-color: white;
    background-color: white;
    color: $veeta-green;

    &.active{
      -webkit-box-shadow: none;

      border-color: $veeta-green;
      background-color: $veeta-green;
      color: white
    }
  }

  .btn-info {
    border-color: $veeta-green;
    background-color: white;
    color: $veeta-green;
  }
}