.media-list {

  margin-bottom: 20px;

  > li.media {
    background-color: $bg-light;
    border: 1px solid $border-light;
    padding: 35px;

    p {
      margin-bottom: 5px;
    }

    > img.media-object {
      @extend .pull-left;

      margin-right: 40px;
    }
  }
}

.label-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    float: left;
    margin-right: 10px;

    label {
      padding: 5px 10px;
      background: $bg-gray;

      .text {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
      }

      &:last-child {
        margin-right: 0;
      }

      .delete {
        visibility: hidden;
        color: white;
        cursor: pointer;
        margin: -5px -10px -5px 10px;
        padding: 5px 10px;
        background: $veeta-green;
        z-index: 999;
        float: right;
      }

      &:hover {
        .delete {
          visibility: visible;
        }
      }
    }
  }
}