.modal-dialog {
  .modal-content {
    border-radius: 0;
    .modal-header {
      padding: 30px 40px 10px;
      border: none;

      button.close {
        opacity: 1;
        text-shadow: none;

        span {
          background-color: $bg-light;
          border-radius: 10px;
          font-size: 17px;
        }
      }
    }

    .modal-body {
      padding: 10px 40px 0px;
    }

    .modal-footer {
      padding: 10px 40px 30px;
      text-align: center;
      border: none;

      .btn-group {
        .btn {
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
