.nav-pills {
  li {
    a {
      background-color: $bg-gray;
      border-radius: 0;
      color: $veeta-font-color-lter;

      &:hover {
        background-color: $veeta-gray;
        color: $veeta-font-color;
      }
    }
  }
}

.nav-back-link {
  margin: 0 0 30px;
  line-height: 24px;

  i {
    margin-right: 10px;
  }

  a {
    color: $veeta-font-color;
    text-decoration: underline;
  }
}
