.pace .pace-progress {
  background: white;
}

.pace .pace-progress-inner {
  box-shadow: 0 0 10px white, 0 0 5px white;
}

.pace .pace-activity {
//  border-top-color: #29d;
//  border-left-color: #29d;

  border-top-color: white;
  border-left-color: white;
}