.panel {

  border: none;
  box-shadow: none;

  .panel-heading {
    padding: 15px 0 0;
  }

  .panel-body {
    padding: 30px 0;
  }

  &.panel-default {
    .panel-heading {
      border-bottom: 2px solid $veeta-green;
      background: none;
    }
  }
}

.page-panel {
  @extend .panel;
  @extend .panel-default;

  > .heading {
    @extend .panel-heading;

    margin-top: 0;

    h2 {
      margin-top: 0;
      font-family: $font-family-sans-serif;
      font-size: 20px;
      font-weight: 500;
    }
  }

  > .body {
    @extend .panel-body;

    > p{
      margin-bottom: 30px
    }
  }
}

.block-panel{
  @extend .panel;
  @extend .panel-default;

  overflow-y: visible;
  margin-bottom: 10px;
  background-color: transparent;

  > .heading {
    @extend .panel-heading;

    margin-top: 0;

    h3 {
      margin-top: 0;
      font-family: $font-family-sans-serif;
      font-size: 20px;
      font-weight: normal;
    }

    .flag-required {
      height: 20px;
      padding: 1px 10px 0px;
      position: relative;
      top: -3px;
      margin-left: 15px;
      background-color: #C4DD8D;
      color: #303031;
      font-size: 11px;
      line-height: 20px;
      letter-spacing: 0.2em;
      text-align: center;
      text-transform: lowercase;
    }

    .flag-required:after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 0;
      height: 0;
      border-right: 5px solid white;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }
  }

  > .body {
    @extend .panel-body;

    overflow-y: visible;

    > p{
      margin-bottom: 30px
    }
  }
}