/* line 2, slider.scss */
slider, [slider] {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 100%;
  margin: 25px 5px 25px 5px;
  vertical-align: middle;

  span {
    white-space: nowrap;
    position: absolute;

    &.bar {
      width: 100%;
      height: 100%;
      border-radius: 7px;
      background: #aaa;
      overflow: hidden;

      .selection {
        width: 0%;
        height: 100%;
        background: #13b6ff;
      }
    }

    &.pointer {
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -8px;
      background-color: $veeta-green;
      z-index: 2;
      border-radius: 100%;
    }

    &.bubble {
      display: none;
      cursor: default;
      top: 15px;
      padding: 1px 3px 1px 3px;

      &.active {
        display: inline-block;
      }

      &.limit {
        color: #777;
      }
    }
  }

  input[type='range'] {
    width: 50px;
    height: 50px;
    background: $veeta-green;
  }
}

slider, [slider] {
  &.hide-bubble-low {
    span.bubble.low {
      visibility: hidden;
    }
  }
}

slider-container{

}