$veeta-red: '#ff0000';

/*Timeline*/
.timeline {
  display: table;
  width: 100%;
  border-spacing: 0;
  table-layout: fixed;
  position: relative;
  border-collapse: collapse;
  &:before {
    content: "";
    width: 2px;
    margin-left: -4px;
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 30px;
    background-color: $veeta-green;
    z-index: 0;
  }
  .timeline-date {
    position: absolute;
    width: 150px;
    left: -200px;
    top: 50%;
    margin-top: -9px;
    text-align: right;
  }
  .timeline-icon {
    position: absolute;
    left: -71px;
    top: -2px;
    top: 50%;
    margin-top: -12px;
  }
  .timeline-arrow {
    position: absolute;
    left: -60px;
    width: 60px;
    height: 2px;
    top: 50%;
    //    margin-top: -30px;
    border-top: 2px solid $veeta-green;
  }
  .time-icon {
    width: 26px;
    height: 26px;
    line-height: 56px;
    display: inline-block !important;
    z-index: 10;
    border: 2px solid $veeta-green;
    border-radius: 100%;
    background-color: white;
    text-align: center;
    font-weight: bold;
    color: white;
    position: relative;

    &:before {
      font-size: 16px;
      margin-top: 5px;
    }
  }
}

.timeline-item {
  display: table-row;
  &:before,
  &.alt:after {
    content: "";
    display: block;
    width: 50%;
  }
  &.alt {
    text-align: right;
    &:before {
      display: none;
    }
    .panel {
      margin-right: 57px;
      margin-left: 0;
      text-align: right;
    }
    .timeline-date {
      left: auto;
      right: -200px;
      text-align: left;
    }
    .timeline-icon {
      left: auto;
      right: -85px;
    }
    .timeline-arrow {
      left: auto;
      right: -60px;
    }

    .timeline-form {
      left: 0px;
    }

    .timeline-has-error {
      right: -320px;
      left: auto;
      text-align: left;
    }
  }
  &.active {
    display: table-caption;
    text-align: center;
    &:before {
      width: 1%;
    }
    .timeline-caption {
      display: inline-block;
      width: auto;
      h5 span {
        color: #fff;
      }
    }
    .panel {
      margin-left: 0;
    }
    .timeline-date,
    .timeline-icon {
      position: static;
      margin-bottom: 10px;
      display: inline-block;
      width: auto;
    }
  }

}

.timeline-caption {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  .panel {
    display: inline-block;
    background: none;
    position: relative;
    margin-left: 55px;
    text-align: left;
    box-shadow: none;
    -webkit-box-shadow: none;
    //    padding: 0 10px;

    .btn {
      margin-right: 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .timeline-form {
    position: relative;
    display: inline-block;
    top: 50%;
    left: -410px;

    .timeline-form-wrapper {
      display: inline-block;
      min-height: 100px;
      background-color: white;
      border: 2px solid $veeta-green;
      width: 100%;
      padding: 30px;
      text-align: left;
    }
  }

  .timeline-box {
    padding: 0 10px;
  }

  h5.description {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 300;

    color: $veeta-font-color;

    .duration {
      display: block;
      color: $veeta-green;
      margin-bottom: 5px;
    }

    .heading {
      display: block;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .sub-heading {
      display: block;
      margin-bottom: 5px;
    }
  }
  p {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 10px;
  }

  .timeline-new-btn {
    border-style: dotted;
    background-color: white;
    border-width: 2px;
    padding: 15px;
    width: 150px;
    text-align: left;
    padding-left: 40px;
    height: auto;

    i {
      float: left;
      margin-left: -21px;
      line-height: 20px;
    }

    &:active {
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .timeline-has-error {
    @extend .alert;
    @extend .alert-warning;

    position: absolute;
    right: auto;
    left: -320px;
    top: 40px;
    width: 200px;
    min-height: 10px;
    text-align: right;
    padding: 10px 15px;

    p {
      margin: 5px 0;
    }
  }
}

.timeline-footer {
  display: table-row;
  a {
    display: table-cell;
    text-align: right;
  }
  .timeline-caption {
    display: table-cell;
    text-align: right;
  }
  .time-icon {
    width: 60px;
    height: 50px;
    margin-right: -25px;
    z-index: 100;
    background-color: white;
    border-color: white;
    color: $veeta-green;
    border-radius: 0;
    font-size: 19px;
    font-weight: 400;
  }
}

.timeline-header {
  display: table-row;
  .timeline-caption {
    display: table-cell;
    text-align: right;
  }
  .time-icon {
    width: 60px;
    height: 50px;
    margin-right: -25px;
    z-index: 100;
    background-color: white;
    border-color: white;
    color: $veeta-green;
    border-radius: 0;
    font-size: 18px;
    font-weight: normal;
  }
}