.well {
  padding: $alert-padding $alert-padding-lr;
  margin-bottom: 30px;
  color: $veeta-font-color;

  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: normal;
  }

  &.well-info{
    border: none;
    background-color: $bg-gray;
    padding: 20px;
    color: $veeta-font-color;
  }
}