.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}



.resume-thumb-preview-list {
  list-style: none;

  li {
    float: left;
    margin-right: 10px;
  }
}

.bg-veeta {
  background-color: $veeta-green;
}

.gd-ui-json-explorer .errormessage {
  font-family: 'monaco';
}

.gd-ui-json-explorer {
  font-family: 'monaco';
  font-size: 1.1em;
  white-space: pre-wrap;
}

.editable-error.help-block {
  display: none;
}