#account-availability.block-panel
  .heading
    h3(translate='talent.ui.account.availability.title')
  .body
    p(translate='talent.ui.account.availability.description')

    ng-form.form
      .form-group
        .col-xs-18
          label(translate='talent.ui.account.availability.working_areas.title')
        .col-xs-18
          ul.work-location-intention-list.label-list(ng-show='talentSetting.workingAreas.length > 0')
            li(ng-repeat='workingArea in talentSetting.workingAreas')
              .work-location-intention-list-item
                label
                  span.text(ng-bind='workingArea')
                  span.delete(ng-click='removeWorkingArea(workingArea)', translate='talent.ui.account.availability.button.delete')
        .col-xs-7
          input.form-control(type='text', ng-model='newWorkingArea', ng-keyup="$event.keyCode == 13 && newWorkingArea.length > 0 && addWorkingArea(newWorkingArea)",
          placeholder='{{"talent.ui.account.availability.working_areas.placeholder" | translate}}')
          span.help-block
        .col-xs-3
          button.btn.btn-default(ng-click='addWorkingArea(newWorkingArea)', ng-disabled='!newWorkingArea')
            i.fa.fa-plus
            | &nbsp;
            span(translate='talent.ui.account.availability.button.add')

      .form-group
        easy-input.col-xs-7(type="ui-select", ng-model="talentSetting.availableIn"
        label="'talent.ui.account.availability.available_in.label' | translate"
        options='availabilityInOptions')
      .form-group
        easy-input.col-xs-10(type="ui-select", ng-model="talentSetting.interested"
        label="'talent.ui.account.availability.interested.label' | translate",
        options='jobInterestOptions')
      .form-group
        .col-xs-18
          label(translate='talent.ui.account.availability.working_industries.title')
        .col-xs-18
          ul.work-location-intention-list.label-list(ng-show='talentSetting.workingIndustries.length > 0')
            li(ng-repeat='workingIndustry in talentSetting.workingIndustries')
              .work-location-intention-list-item
                label
                  .text(ng-bind='workingIndustry')
                  span.delete(ng-click='removeWorkingIndustry(workingIndustry)', translate='talent.ui.account.availability.button.delete')
        .col-xs-7
          input.form-control(type='text', ng-model='newWorkingIndustry', ng-keyup="$event.keyCode == 13 && newWorkingIndustry.length > 0 && addWorkingIndustry(newWorkingIndustry)",
          placeholder='{{"talent.ui.account.availability.working_industries.placeholder" | translate}}')
          span.help-block
        .col-xs-3
          button.btn.btn-default(ng-click='addWorkingIndustry(newWorkingIndustry)', ng-disabled='!newWorkingIndustry')
            i.fa.fa-plus
            | &nbsp;
            span(translate='talent.ui.account.availability.button.add')
      .form-group.row
        easy-input.col-xs-7(type="ui-select", ng-model="talentSetting.salaryExpMin"
        label="'talent.ui.account.availability.price_range.label' | translate",
        options='salaryExpectationOptions')
      .form-actions
        button.btn.btn-primary.pull-right(ng-click='save()', translate='talent.ui.account.availability.button.submit')

