#account-delete
  a(href='', ng-click='onDeleteAccountMode()', ng-hide="deleteAccountMode", translate='talent.ui.account.delete.open')
  #account-delete-form.block-panel(ng-show="deleteAccountMode")
    .heading
      h3(translate='talent.ui.account.delete.title')
    ng-form.body
      p(translate='talent.ui.account.delete.reason.title')
      .form-group
        .radio(ng-repeat='option in deleteReasonOptions')
          label
            input(type="radio", name="deleteReasonRadios", ng-model="talentAuth.deleteReason", ng-value='option.value')
            span(ng-bind='option.text')
        .radio
          label
            input(type="radio", name="deleteReasonRadios", ng-model="talentAuth.withOtherDeleteReason", ng-value='true', ng-change='selectOtherDeleteReason()')
            span(translate='talent.ui.account.delete.reason.another')

        input.form-control(type='text', ng-model='talentAuth.otherDeleteReason', ng-disabled='!talentAuth.withOtherDeleteReason')
      .form-group
          a(href='')
            i.fa.fa-cloud-download
            | &nbsp;
            span(translate='talent.ui.account.delete.download')
      .form-group
        .col-xs-18
          .checkbox
            label
              input(type="checkbox", ng-model="talentAuth.deleteAgreement")
              span(translate='talent.ui.account.delete.agree')

      .form-actions
        button.btn.btn-primary.pull-right(ng-click='openDeleteAccountConfirmationModal()', ng-disabled='!deleteButtonEnabled()', translate='talent.ui.account.delete.button.confirm')
        button.pull-right.btn.btn-default(ng-click='onCancelDeleteAccountMode()', translate='talent.ui.account.delete.button.cancel')