#account-profile.block-panel
  .heading
    h3
      span(translate='talent.ui.account.profile.title')
      span.flag-required(translate='talent.ui.account.profile.flag-required')
  .body
    div(talent-profile='', edit-only='true')
