#account-settings.block-panel
  .heading
    h3(translate='talent.ui.account.settings.title')
  .body
    ng-form.form
      .form-group.row
        p.col-xs-18(translate='talent.ui.account.settings.level.hint')
        .col-xs-8.slider-container
          label(translate='talent.ui.account.settings.level.label')
          slider(ng-model="talentSetting.resumeType",
          floor="1",
          ceiling="3",
          step="1"
          stretch='30',
          translate-fn='resumeTypeFormatter')
          span.small(translate='talent.ui.account.settings.level.beginner')
          span.small.pull-right(translate='talent.ui.account.settings.level.expert')

      .form-group.row
        .col-xs-18
          label(translate='talent.ui.account.settings.newsletter')
          .radio(ng-repeat='item in newsletterUpdatesOptions.collection')
            label
              input(type="radio", name="newsletterUpdatesRadios", ng-model="talentSetting.newsletterUpdates", ng-value='item.value')
              | {{item.text}}
      .form-actions
        button.pull-right.btn.btn-primary(ng-click='save()', translate='talent.ui.account.settings.button.submit')
