.talent-profile
  p.col-xs-18(translate='talent.ui.account.profile.description', ng-show='isOnEditMode()')
  .avatar-uploader
    .avatar(ng-class='{"default": !talent.avatarUrl}')
      img(ng-show='talent.avatarUrl', ng-src='{{talent.avatarUrl.medium}}')
      h4(ng-show='!talent.avatarUrl', translate='talent.ui.account.profile.upload')
    .action-group
      //- TODO: I don't know, how to translate this button!
      input(ui-jq="filestyle", nv-file-select='', uploader="avatarUploader",
      type="file", data-icon="false", data-classButton="btn btn-edit")
      button.btn-remove(ng-click='removeAvatar()',ng-show='talent.avatarUrl',
      translate='talent.ui.account.profile.button.remove')
  .profile-detail(ng-if='!isOnEditMode()')
    .info-box
      h3.name(ng-bind='talent | fullName')
      .address
        p(ng-bind='talent.address.addressLine')
        p(ng-bind='talent.address | placeInfo')
        p(ng-bind='talent.country.name')
      .contact
        p(ng-bind='talent.phoneNumber')
        a(ng-bind='talent.email')
      p {{talent.birthdate | date}} - {{talent.nationalityCountry.name}}
      button.btn-edit(ng-click='onEditMode()', translate="talent.ui.account.profile.button.edit")
  .profile-form(ng-show='isOnEditMode()')
    form.form-vertical(name='profileForm')
      .form-group
        easy-input.col-xs-5(type="ui-select", name='salutation', ng-model="talentOnEdit.salutation",
        label="'talent.ui.account.profile.salutation' | translate",
        validator='required', options="salutationOptions")
        easy-input.col-xs-9(type="text", name='academicTitle', ng-model="talentOnEdit.title",
        label="'talent.ui.account.profile.academic_title' | translate")
      .form-group
        easy-input.col-xs-9(type="text", name='firstName', ng-model="talentOnEdit.firstName",
        label="'talent.ui.account.profile.first_name' | translate",
        validator='required')
        easy-input.col-xs-9(type="text", name='lastName', ng-model="talentOnEdit.lastName",
        label="'talent.ui.account.profile.last_name' | translate",
        validator='required')
      .form-group
        easy-input.col-xs-18(type="text", name='addressLine', ng-model="talentOnEdit.address.addressLine",
        label="'talent.ui.account.profile.address' | translate",
        validator='required')
      .form-group
        easy-input.col-xs-5(type="text", name='addressZip', ng-model="talentOnEdit.address.zip",
        label="'talent.ui.account.profile.zip_code' | translate",
        validator='required')
        easy-input.col-xs-9(type="text", name='addressCity', ng-model="talentOnEdit.address.city",
        label="'talent.ui.account.profile.city' | translate",
        validator='required')
      .form-group
        easy-input.col-xs-14(type="ui-select", name='addressCountry', ng-model="talentOnEdit.address.country",
        label="'talent.ui.account.profile.country' | translate",
        options="countryOptions", validator='required')
      .form-group
        easy-input.col-xs-9(type="text", name='phoneNumber', ng-model="talentOnEdit.phoneNumber",
        label="'talent.ui.account.profile.phone_number' | translate",
        validator='required')
        easy-input.col-xs-9(type="text", name='email', ng-model="talentOnEdit.email",
        label="'talent.ui.account.profile.email' | translate",
        validator='required, email')
      .form-group
        .col-xs-9
          label(translate='talent.ui.account.profile.birthdate')
          p.input-group
            input.form-control(type='text', name='birthdate',
            datepicker-popup='', ng-model='talentOnEdit.birthdate',
            is-open='birthdateOpened', datepicker-options='birthdateOptions',
            show-button-bar='false')
            span.input-group-btn
              button.btn.btn-default(type='button', ng-click='birthdateOpen($event)')
                i.fa.fa-calendar

        easy-input.col-xs-9(type="ui-select", name='nationalityCountry', ng-model="talentOnEdit.nationalityCountry",
        label="'talent.ui.account.profile.nationality' | translate",
        options="countryOptions", validator='required')
      .form-actions.pull-right
        button.btn-cancel(ng-click='exitEditMode()', ng-hide='hiddenCancelButton()', translate='talent.ui.account.profile.button.cancel')
