.talent-profile {
  @include make-row();

  .avatar-uploader {
    @include make-xs-column(8);
    padding-right: 90px;

    .avatar {
      width: 230px;
      height: 345px;
      margin-bottom: 20px;
      overflow: hidden;
      border: 1px $border-light solid;
      position: relative;

      &.default{
        background: url('../images/default-avatar.png') no-repeat center;
      }

      h4 {
        margin-top: 200px;
        color: $veeta-font-color-lter;
        padding: 0 30px;
        text-align: center;
      }

      img {
        width: 100%;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }
    .action-group {
      text-align: right;

      button {
        margin-left: 15px;
      }

      .bootstrap-filestyle {
        display: inline;
      }
    }
  }
  .profile-detail {
    @include make-xs-column(10);
    height: 389px;

    .info-box {
      position: absolute;
      bottom: 0;

      .address,
      .contact {
        margin-bottom: 30px;

        a {
          color: $veeta-font-color;
        }
      }

      .btn-edit{
        margin-top: 5px;
      }
    }
  }

  .profile-form {
    @include make-xs-column(10);

    .form-group {
      @include make-row();
    }

    //    .form-actions {
    //      text-align: right;
    //
    //      button {
    //        margin-left: 15px;
    //      }
    //
    //      .save-btn {
    //        @extend .btn;
    //        @extend .btn-primary;
    //      }
    //
    //      .cancel-btn {
    //        @extend .btn;
    //        @extend .btn-default;
    //      }
    //    }
  }
}