#resume.detail
  resume-detail-nav
  .row
    p.nav-back-link.col-xs-6
      i.fa.fa-angle-left
      a(href='', ui-sref='app.inside.resumes.overview', translate='talent.ui.resume.detail.back_to_my_resumes')

    resume-updates.col-xs-12

  #resume-header-extend(resume-header-extend)

  #resume-language(resume-language, ng-if='modules.language')

  #resume-import(resume-import, ng-if='modules.import')

  #resume-profile(resume-profile, ng-if='modules.profile')

  #account-availability(account-availability, ng-if='modules.generalInformation')

  #resume-work-experiences(resume-work-experiences, ng-if='modules.workExperience')

  #resume-educations(resume-education, ng-if='modules.education')

  #resume-languages(resume-languages, ng-if='modules.languages')

  #resume-skills(resume-skills, ng-if='modules.skills')

  #resume-links(resume-links, ng-if='modules.links')

  #resume-additional-documents(resume-additional-documents, ng-if='modules.documents')

  #resume-add-module(resume-add-module, ng-if='modules.addModule')

  p.nav-back-link
    i.fa.fa-angle-left
    a(href='', ui-sref='app.resumes.overview', translate='talent.ui.resume.detail.back_to_my_resumes')

  .button.button-save(ng-click='save()', translate='talent.ui.resume.detail.button.save')