#resume.overview
  resume-updates
  .page-panel
    .heading
      h2(translate='talent.ui.resume.overview.title')
    .body
      p(translate='talent.ui.resume.overview.description')
      ul.resumes-list.media-list
        li.media(ng-repeat='resume in resumes')
          img.media-object(ng-src='{{resume.imageSnapshotUrl}}')
          .media-body
            .resume-info
              h3.resume-title.media-heading
                span(ng-bind='resume.name', ng-show='resumeUpdates')
                span.deactivated(ng-bind='resume.name', ng-hide='resumeUpdates', tooltip-placement="bottom")

              span.resume-update-at(ng-cloak) {{'talent.ui.resume.overview.last_update' | translate}}: {{resume.updatedAt | datetimeDefault}}
              button.btn-edit(ui-sref='app.inside.resumes.detail({id: resume.id})', translate='talent.ui.resume.overview.button.open')

            .resume-sharings(ng-show='isShowSharings(resume)')
              p.resume-sharing-desc(translate='talent.ui.resume.overview.shared_with')
              ul.resume-sharings-list
                li(ng-repeat='company in resume.sharedWith')
                  img.resume-sharings-thumb-img(ng-src='{{company.logoUrl}}')
                li(ng-show='ng-show', resume.sharedcompanies.length='resume.sharedWith.length')
                  | 7"
                  a(href='href', ng-click='resume.moreSharedCompanies = true', translate='talent.ui.resume.overview.show_more')
                li(ng-show='ng-show', resume.moresharedcompanies='resume.moreSharedCompanies', resume.sharedcompanies.length='resume.sharedCompanies.length')
                  | 7"
                  a(href='href', ng-click='resume.moreSharedCompanies = false', translate='talent.ui.resume.overview.show_less')
      button#resume-add-new-btn.btn-new(ng-if='canAddNewResume()', ui-sref='app.inside.resumes.new', translate='talent.ui.resume.overview.button.create_new')
