#welcome.index
  .promo
    h1(translate='talent.ui.welcome.promo.title')
    .description(translate='talent.ui.welcome.promo.description')
  .signup
      h2(translate='talent.ui.welcome.signup.title')
      .description(translate='talent.ui.welcome.signup.description')
      ng-form.signup-form(name='signUpForm')
        .form-group
          easy-input(type='text', name='firstName', ng-model='talentAuth.firstName',
            label="'talent.ui.welcome.form.first_name' | translate", validator='required')
        .form-group
          easy-input(type='text', name='lastName', ng-model='talentAuth.lastName',
            label="'talent.ui.welcome.form.last_name' | translate", validator='required')
        .form-group
          easy-input(type='ui-select', name='country', ng-model='talentAuth.country',
            label="'talent.ui.welcome.form.country' | translate", options='countryOptions', validator='required')
        .form-group
          easy-input(type='email', name='email', ng-model='talentAuth.email',
            label="'talent.ui.welcome.form.email' | translate", validator='required, email')
        .form-group
          easy-input(type='password', name='password', ng-model='talentAuth.password',
            label="'talent.ui.welcome.form.password' | translate", validator='required')
        .form-group.resume-type
          .slider-container
            label(translate='talent.ui.welcome.form.resume_type')
            slider(ng-model="talentAuth.resumeType",
            floor="1",
            ceiling="12",
            step="1"
            translate-fn='careerLevelFormatter')
          .resume-type-level
            span.min(translate='talent.ui.welcome.form.resume.beginner')
            span.max(translate='talent.ui.welcome.form.resume.expert')
        .form-group
          p(translate='talent.ui.welcome.form.term')
        .form-actions
          button.btn-submit(easy-submit='signUpForm', ng-click='signUp()', translate='talent.ui.welcome.button.submit')
      .login-link
        a(ui-sref='app.signIn', translate='talent.ui.welcome.sign_in')
