.revoke
  h3(translate='talent.ui.sharing.overview.revoke.title')
  p(translate='talent.ui.sharing.overview.revoke.description')

  ng-form.form
    .form-group.row
      easy-input(type="textarea" ng-model="revoke.reason"
      label="'talent.ui.sharing.overview.revoke.reason' | translate"
      grid="12")

  ng-form.form
    .form-group
      button.btn.btn-success(ng-click="revoke()", translate='talent.ui.sharing.overview.revoke.button.submit')
      button.btn.btn-default(ng-click="cancel()", translate='talent.ui.sharing.overview.revoke.button.cancel')
