app-header
span#app-spinner(us-spinner='{radius:30, width:8, length: 16}', ng-show='pageLoading')
#app-wrapper(ng-hide='pageLoading')
    main-nav
    app-flash
    #app-content(ui-view='')
app-footer
